<div class="page-header">
  <div class="row">
    <div class="col-md-12 text-center text-left-sm">
      <h1>Comité de evaluación</h1>
      <p>
        <small>Gestión de comités</small>
      </p>
    </div>
  </div>
</div>
<div class="panel ">
  <div class="panel-body">
    <form [formGroup]="formulario">
      <div class="row">

        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
              <label>Programa Docente:</label>
              <select #programaDocenteSelect class="form-control" 
                      formControlName="idProgramaDocente"
                      (change)="cambioProgramaDocenteFiltro(programaDocenteSelect.value)"
              >
                <option value="" disabled selected> Selecciona...</option>
                <option *ngFor="let programaDocenteItem of opcionesProgramaDocente"
                        [value]="programaDocenteItem.id">
                  {{programaDocenteItem.text}}
                </option>
              </select>
            </div>
            <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
              <label>Promoción:</label>
              <select #promocion (change)="activarBotonBusqueda(1)" class="form-control"
                formControlName="idPromocion">
                <option value="" disabled selected> Selecciona...</option>
                <option *ngFor="let promocionItem of opcionesPromociones"
                        [value]="promocionItem.id">
                  {{promocionItem.getClavePromocion()}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 text-right padding-sm-vr no-padding-b">
          <button
            class="btn" (click)="buscarCriteriosCabezera(
                programaDocenteSelect.value,
                promocion.value
              )" [disabled]="!botonBuscar"
          >
            Buscar <span class="fa fa-search"></span>
          </button>
        </div>

      </div>
  </form>
  </div>
</div>

<div class="panel">
  <div class="panel-body">
    <div class="col-md-12" *ngIf="erroresConsultas.lenght !== 0">
      <alert
        *ngFor="let alerta of erroresConsultas"
        [type]="alerta.tipo"
        dismissible="true">
        {{ alerta?.mensaje }}
      </alert>
    </div>

    <div class="col-md-12">
      <div class="row"><!-- cont-botones-->
        <div class="text-right">
          <button *ngIf="registroSeleccionado"
                  class="btn btn-labeled btn-warning form-group-margin"
                  (click)="obetenercrud('editar')"><span
            class="btn-label icon fa fa-pencil-square-o"></span>Editar
          </button>
          <button *ngIf="registroSeleccionado"
                  class="btn btn-labeled btn-default form-group-margin"
                  (click)="obtenerdetalle()"><span class="btn-label icon fa fa-eye"></span>Detalle
          </button>
          <button class="btn btn-labeled btn-success form-group-margin"
                  (click)="obetenercrud('crear')"><span
            class="btn-label icon fa fa-plus"></span>Agregar
          </button>
        </div>
      </div> <!-- cont-botones-->
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="table-default">
          <div role="grid" class="dataTables_wrapper form-inline">
            <div class="table-header clearfix">
              <div class="table-caption">Lista de comités de evaluación</div>
              <div class="DT-lf-right">
                <div class="DT-per-page">
                  <div class="dataTables_length" id="jq-datatables-example_length">
                    <label>
                      Registros por página:
                      <select #limiteControl
                              name="jq-datatables-example_length"
                              aria-controls="jq-datatables-example"
                              class="form-control input-sm"
                              (change)="setLimite(limiteControl.value)"
                      >
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table cellpadding="0" cellspacing="0" border="0"
                     class="table table-striped table-bordered dataTable no-footer"
                     id="jq-datatables-example" aria-describedby="jq-datatables-example_info">
                <thead>
                <tr role="row">
                  <th
                    *ngFor="let columna of columnas"
                    [ngClass]="{
							        		'sorting_desc': columna.sort === 'desc',
							        		'sorting_asc': columna.sort === 'asc',
							        		'sorting': columna.sort !== false
							        	}"
                    (click)="sortChanged(columna)"
                  >
                    {{columna.titulo}}
                  </th>
                </tr>
                </thead>
                <tbody *ngIf="registros.length === 0">
                <tr class="gradeA odd">
                  <th class="text-center" colspan="4">
                    Cambie sus criterios de b&uacute;squeda
                  </th>
                </tr>
                </tbody>
                <tbody *ngIf="registros.length !== 0">
                <tr
                  *ngFor="let registro of registros"
                  class="gradeA odd"
                  [ngClass]="{
                        'seleccionado': rowSeleccionado(registro)
                      }"
                  (click)="rowSeleccion(registro)"
                >
                  <td class="center">{{registro.promocion.getClavePromocion()}}</td>
                  <td class="center">{{registro.programaDocente.descripcion}}</td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="table-footer clearfix">
              <div class="DT-pagination" *ngIf="isSetPaginacion()">
                <div class="dataTables_paginate paging_simple_numbers">
                  <pagination
                          class="pagination"
                          [totalItems]="paginacion.registrosTotales"
                          [itemsPerPage] = "limite"
                          [maxSize] = "maxSizePags"
                          [rotate]="false"
                          [(ngModel)]="paginaActual"
                          (pageChanged)="cambiarPagina($event)"
                          previousText="Anterior"
                          nextText="Siguiente">
                  </pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-->INICIA MODAL DE DETALLE COMITE EVALUADOR</!-->
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modalDetalle  >
  <modal-header>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Detalle comité evaluador</h4>
  </modal-header>
  <modal-body>
    <h5 class="form-heading text-muted text-semibold text-sm">COMITÉ EVALUADOR</h5>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 form-group-margin">
          <div class="row">
            <dl class="form-horizontal">
              <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Programa docente:</dt>
              <dd class="col-md-6">{{entidadComiteEvaluador?.programaDocente?.descripcion}}</dd>
            </dl>
          </div>
        </div>
        <div class="col-md-6 form-group-margin">
          <div class="row">
            <dl class="form-horizontal">
              <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Promoción:</dt>
              <dd class="col-md-6">{{entidadComiteEvaluador?.promocion?.getClavePromocion()}}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <h5 class="form-heading text-muted text-semibold text-sm">LISTA DE EVALUADORES</h5>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <br>
          <table
            class="table table-bordered table-hover table-striped table-condensed">
            <thead class="panel-title">
            <tr class="panel-title">
              <th class="text-center">Evaluadores</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let registro2 of registros2" class="gradeA odd">
              <td class="center">{{registro2.profesor.nombre+" "+registro2.profesor.primerApellido+" "+registro2.profesor.segundoApellido}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <div class="text-right">
      <button type="button" class="btn btn-default" (click)="cerrarModal()">
        <i class="fa fa-times"></i> Cerrar</button>
      <div class="clearfix visible-xs visible-md visible-sm"><br></div>
    </div>
  </modal-footer>
</modal>
<!-->TERMINA MODAL DE DETALLE COMITE EVALUADOR</!-->


<!-->INICIA MODAL AGREGAR - EDITAR COMITE EVALUACION</!-->
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modalAgregarEditarComite  >
  <modal-header>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModalFormulario()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{edicionFormulario ? 'Editar comité evaluador' : ' Agregar comité evaluador'}}</h4>
  </modal-header>
  <modal-body>    
<form class="form-horizontal" [formGroup]="modalComite">
      <alert
        *ngFor="let alerta of alertas;let i = index"
        [type]="alerta.type"
        class="col-md-12 text-center"
        dismissible="true"
        (close)="cerrarAlerta(i)"
        dismissOnTimeout="4000">
        {{ alerta?.msg }}
      </alert>
      <h5 class="form-heading text-muted text-semibold text-sm">COMITÉ EVALUADOR</h5>

      <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div  [ngClass]="{ 'has-error': getControlErrors3('idProgramaDocente')  }" >
              <div class=" col-md-6 padding-xs-vr">
                <div class="row">
                  <label class="col-md-6 control-label">Programa docente: *</label>
                  <div class="col-md-6">
                    <select class="form-control form-group-margin" #programaDocenteSelection formControlName='idProgramaDocente'
                            [disabled]="hasRol('COORDINADOR')" (change)="cargarSelectPromocion()">
                      <option value="0" selected disabled>Selecciona...</option>
                      <option
                        *ngFor="let catalogoItem of programaDocente"
                        value="{{catalogoItem.id}}"
                      >{{catalogoItem.descripcion}}
                      </option>
                    </select>
                    <span id="helpBlock2" class="help-block" *ngIf="(getControlErrors3('idProgramaDocente'))" >
                                {{errorMessage(getControl('idProgramaDocente'))}}
                        </span>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-6 padding-xs-vr">
              <div class="row">
                <div [ngClass]="{ 'has-error': getControlErrors3('idPromocion')}" >
                  <label  class="col-md-6 control-label">Promoción: *</label>

                  <div class="col-md-6">
                    <select class="form-control form-group-margin" formControlName='idPromocion'>
                      <option value="" selected>Selecciona...</option>
                      <option
                        *ngFor="let catalogoItem of opcionesSelectCatalogo"
                        value="{{catalogoItem.id}}"
                      >
                        {{catalogoItem.getClavePromocion()}}
                      </option>
                    </select>
                    <span id="helpBlock2" class="help-block" *ngIf="(getControlErrors3('idPromocion'))" >
                            {{errorMessage(getControl('idPromocion'))}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="edicionFormulario">
        <h5 class="form-heading text-muted text-semibold text-sm">EVALUADOR</h5>

        <div class="row">
          <div class="col-md-12">
            <div class="row">

              <div class="col-md-6 padding-xs-vr">
                <div class="row">
                  <div [ngClass]="{ 'has-error': getControlErrors3('idProfesor') }"  >

                    <label for="agregarProfesor" class="col-md-6 control-label text-left">Profesor:</label>
                    <div class='container-fluid col-md-6'>
                      <input formControlName="idProfesor" id="addEstudiante" name="addEstudiante" #addEstudiante
                             class="form-control"
                             ng2-auto-complete
                             [(ngModel)]="searchStr2"
                             [source]="opcions"
                             [min-chars] = "2"
                             display-property-name="name"
                             list-formatter="name"
                             loading-text="Buscando..."
                             no-match-found-text = "No hay coincidencias"
                             list-formatter="name"
                             (valueChanged)= "autocompleteOnSelect(searchStr2)"
                             (keyup.enter) = "autocompleteOnSelect(searchStr2)"
                             (keyup.backspace)="mostrarBotonAgregar()"/>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-2 padding-xs-vr">
                <div class="row">
                  <button type="submit" *ngIf="mostrarBotonAgregar()" class="btn btn-success form-group-margin" (click)="agregarEvaluador()">
                    <span class="glyphicon glyphicon-plus"></span>Agregar evaluador
                  </button>
                </div>
              </div>
              <div [hidden]="autocompleteNoResults!==true"
                   class="col-md-3 alert alert-info text-sm pull-right"
                   style="padding-top: 0%; padding-bottom: 0%;">
                <i class="glyphicon glyphicon-info-sign"></i> No existen registros
              </div>

            </div>
          </div>
        </div>


        <h5 class="form-heading text-muted text-semibold text-sm padding-sm-vr">LISTA DE EVALUADORES</h5>


        <div class="col-md-12 text-right">
          <div class="row">
            <button *ngIf="mostarBotones3()" (click)="eliminarEvaluador()" class="btn btn-danger form-group-margin" type="button" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove"></span> Eliminar</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table
                class="table table-bordered table-hover table-striped table-condensed">
                <thead class="panel-title">
                <tr role="row">
                  <th
                    *ngFor="let columna of columnas2"
                    [ngClass]="{
							        		'sorting_desc': columna.sort === 'desc',
							        		'sorting_asc': columna.sort === 'asc',
							        		'sorting': columna.sort !== false
							        	}"
                    (click)="sortChanged2(columna)"
                  >
                    {{columna.titulo}}
                  </th>
                </tr>
                </thead>
                <tbody *ngIf = "registros2.length === 0">
                <tr class="gradeA odd">
                  <th class="text-center" colspan="4">
                    No hay Registros
                  </th>
                </tr>
                </tbody>
                <tbody *ngIf = "registros2.length !== 0">
                <tr
                  *ngFor="let registro of registros2"
                  class="gradeA odd"
                  [ngClass]="{
                        'seleccionado': rowSeleccionado3(registro)
                      }"
                  (click) = "rowSeleccion3(registro)"
                >
                  <td class="center">{{registro.profesor.nombre+" "+registro.profesor.primerApellido+" "+registro.profesor.segundoApellido}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </form>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="cerrarModalFormulario()"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancelar</button>
    <button type="submit" class="btn btn-success" (click)="enviarFormularioComite()">
      <span class="glyphicon glyphicon-plus"></span>
      {{edicionFormulario ? 'Aceptar' : ' Agregar comité'}}
    </button>
  </modal-footer>
</modal>
<!-->TERMINA MODAL AGREGAR - EDITAR COMITE EVALUACION</!-->
