<div class="note col-md-12 form-group-margin">
  <div class="row">
    <div class="col-md-12"><h5 class="note-title">9. Uso de ejemplos adecuados al tema.</h5></div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta9" [checked]="verificarPregunta(9,1)"
                     (change)="cambioRadio9(1)" value="1">
              <span class="lbl">Excelente</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta9" [checked]="verificarPregunta(9,2)"
                     (change)="cambioRadio9(2)" value="2">
              <span class="lbl">Muy bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta9" [checked]="verificarPregunta(9,3)"
                     (change)="cambioRadio9(3)" value="3">
              <span class="lbl">Bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta9" [checked]="verificarPregunta(9,4)"
                     (change)="cambioRadio9(4)" value="4">
              <span class="lbl">Regular</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta9" [checked]="verificarPregunta(9,5)"
                     (change)="cambioRadio9(5)" value="5">
              <span class="lbl">Mal</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="note col-md-12 form-group-margin">
  <div class="row">
    <div class="col-md-12"><h5 class="note-title">10. La calidad de las lecturas y de la bibliografía asignadas fue:</h5></div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta10" [checked]="verificarPregunta(10,1)"
                     (change)="cambioRadio10(1)" value="1">
              <span class="lbl">Excelente</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta10" [checked]="verificarPregunta(10,2)"
                     (change)="cambioRadio10(2)" value="2">
              <span class="lbl">Muy bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta10" [checked]="verificarPregunta(10,3)"
                     (change)="cambioRadio10(3)" value="3">
              <span class="lbl">Bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta10" [checked]="verificarPregunta(10,4)"
                     (change)="cambioRadio10(4)" value="4">
              <span class="lbl">Regular</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta10" [checked]="verificarPregunta(10,5)"
                     (change)="cambioRadio10(5)" value="5">
              <span class="lbl">Mal</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="note col-md-12 form-group-margin">
  <div class="row">
    <div class="col-md-12"><h5 class="note-title">11. El profesor cubrió la totalidad de horas establecidas en el plan de estudios:</h5></div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta11" [checked]="verificarPregunta(11,1)"
                     (change)="cambioRadio11(1)" value="1">
              <span class="lbl">Excelente</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta11" [checked]="verificarPregunta(11,2)"
                     (change)="cambioRadio11(2)" value="2">
              <span class="lbl">Muy bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta11" [checked]="verificarPregunta(11,3)"
                     (change)="cambioRadio11(3)" value="3">
              <span class="lbl">Bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta11" [checked]="verificarPregunta(11,4)"
                     (change)="cambioRadio11(4)" value="4">
              <span class="lbl">Regular</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta11" [checked]="verificarPregunta(11,5)"
                     (change)="cambioRadio11(5)" value="5">
              <span class="lbl">Mal</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="note col-md-12 form-group-margin">
  <div class="row">
    <div class="col-md-12"><h5 class="note-title">12. Durante el curso, se revisaron todos los contenidos previstos en el programa de estudios.</h5></div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta12" [checked]="verificarPregunta(12,1)"
                     (change)="cambioRadio12(1)" value="1">
              <span class="lbl">Excelente</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta12" [checked]="verificarPregunta(12,2)"
                     (change)="cambioRadio12(2)" value="2">
              <span class="lbl">Muy bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta12" [checked]="verificarPregunta(12,3)"
                     (change)="cambioRadio12(3)" value="3">
              <span class="lbl">Bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta12" [checked]="verificarPregunta(12,4)"
                     (change)="cambioRadio12(4)" value="4">
              <span class="lbl">Regular</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta12" [checked]="verificarPregunta(12,5)"
                     (change)="cambioRadio12(5)" value="5">
              <span class="lbl">Mal</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

