<div class="page-header">
  <div class="row">
    <div class="col-xs-12 col-sm-4 text-center text-left-sm">
      <h1>Evaluaci&oacute;n de desempeño</h1>
      <h5>{{nombreMateria}} - {{nombreProfesor}}</h5>
      <p>
        <small></small>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <alert
                *ngFor="let alerta of alertas;let i = index"
                [type]="alerta.type"
                dismissible="true"
                (close)="cerrarAlerta(i)">
          Error: ¡Existen preguntas sin responder o con errores!
        </alert>
        <div class="col-lg-12">
          <div class="row">
            <div class="panel">
              <div class="col-lg-12">
                <form-wizard #wizard [isHidden]="true">
                  <wizard-step [title]="'1'" (onNext)="onStep1Next($event)">
                    <app-evaluacion-idioma-parte-uno #evaluacionParteUno></app-evaluacion-idioma-parte-uno>
                  </wizard-step>
                  <wizard-step [title]="'2'" (onNext)="onStep2Next($event)">
                    <app-evaluacion-idioma-parte-dos #evaluacionParteDos></app-evaluacion-idioma-parte-dos>
                  </wizard-step>
                  <wizard-step [title]="'3'" (onNext)="onStep3Next($event)">
                    <app-evaluacion-idioma-parte-tres #evaluacionParteTres></app-evaluacion-idioma-parte-tres>
                  </wizard-step>
                </form-wizard>
                <div class="card-footer2" [hidden]="isCompleted">
                  <button type="button" class="btn btn-primary pull-left" (click)="previous()"
                    *ngIf="!isFirst">Atras</button>
                  <button type="button" class="btn btn-primary pull-right" (click)="next()"
                    *ngIf="!isLast">Siguiente</button>
                    <button *ngIf="isLast"
                      class="btn btn-success pull-right" (click)="onStep3Next()">
                          Finalizar
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" class="modal-alert modal-success" #modalConfirmacion  >
  <div class=" modal-content" style="display: block; margin:0 auto;">
    <div class="modal-header">
      <i class="fa fa-check-circle"></i>
    </div>
    <div class="modal-title">
      ¿Estás seguro que deseas enviar la evaluación docente?
    </div>
    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-danger" (click)="cerrarModalConfirma()" type="button">&nbsp;No</button>
      <button class="btn btn-success" type="submit" (click)="confirmarEvaluacion()">&nbsp;Sí</button>
    </div>
  </div>
</modal>
