<div class="tab-pane fade active in" id="tab1">


  <br>
  <div class="row">
    <div class="col-md-12">

      <h6 class="form-heading text-muted text-semibold text-sm">Clasificación</h6>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 form-group-margin">
            <div class="row">
              <dl class="form-horizontal">
                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Clasificación:</dt>
                <dd class="col-md-6">{{entidadProfesor?.clasificacionProfesor?.valor}}</dd>
              </dl>
            </div>
          </div>
          <div class="col-md-6 form-group-margin">
            <div class="row">
              <dl class="form-horizontal">
                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Tipo:</dt>
                <dd class="col-md-6">{{entidadProfesor?.tipo?.valor}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 form-group-margin">
            <div class="row">
              <dl class="form-horizontal">
                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Clasificación especifica:</dt>
                <dd class="col-md-6">{{entidadProfesor?.clasificacionEspecifica?.valor}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>

</div> <!-- / .tab-pane -->
