
<div class="page-header">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-center text-left-sm">
      <h1>Solicitudes de constancias</h1>
      <p><small>Lista de solicitudes de constancias.</small></p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <hr class="visible-xs no-grid-gutter-h">
      <button class="btn btn-labeled btn-default pull-right" (click)="constructorREPO()">
        <span class="btn-label icon fa fa-eye"></span>Repositorio de formatos</button>
    </div>
  </div>
</div>

<div class="panel ">
  <div class="panel-body">
    <div class="row">

      <div class="col-md-10">
        <div class="row">

          <div class="col-md-3 col-sm-6 padding-sm-vr no-padding-b">
            <label >Programa Docente:</label>
            <select class="form-control" #idProgramaDocente (change)="activarBotonBusqueda(2)" (change)="cambioProgramaDocenteFiltro(idProgramaDocente.value)">
              <option value="" disabled selected>Selecciona...</option>
              <option
                *ngFor="let catalogoProgramaDocente of opcionesSelectProgramaDocente"
                value="{{catalogoProgramaDocente.id}}"
              >
                {{catalogoProgramaDocente.text}}
              </option>
            </select>
          </div>

          <div class="col-md-3 col-sm-6 padding-sm-vr no-padding-b">
            <label >Promoción:</label>
            <select class="form-control" #idPromocion (change)="activarBotonBusqueda(1)">
              <option value="" selected>Selecciona...</option>
              <option
                *ngFor="let catalogoPromocion of opcionesSelectPromocion"
                value="{{catalogoPromocion.id}}"
              >
                {{catalogoPromocion.text}}
              </option>
            </select>
          </div>

          <div class="col-md-3 col-sm-6 padding-sm-vr no-padding-b">
            <label class="col-md-12">Desde:</label>
            <div class="col-md-12">
              <div class="dropdown" dropdown autoClose="disabled">
                <div class="input-group">
                  <input type="text" class="form-control" value="{{getFechaInicio()}}" disabled>
                  <span class="input-group-btn">
                                                <button class="btn dropdown-toggle fa fa-calendar" type="button" id="menu1" data-toggle="dropdown" dropdownToggle (click)="activarBotonBusquedaFecha(1)"></button>
                                              </span>
                </div>
                ​
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1" dropdownMenu >
                  <li>
                    <div style="display:inline-block;">
                      <datepicker [(ngModel)]="dt" [ngModelOptions]="{standalone: true}" [minDate]="minDate" [showWeeks]="true"></datepicker>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 padding-sm-vr no-padding-b">
            <label class="col-md-12">Hasta:</label>
            <div class="col-md-12">
              <div class="dropdown" dropdown autoClose="disabled">
                <div class="input-group">
                  <input type="text" class="form-control" value="{{getFechaFin()}}" disabled>
                  <span class="input-group-btn">
                                                <button class="btn dropdown-toggle fa fa-calendar" type="button" id="menu2" data-toggle="dropdown" dropdownToggle (click)="activarBotonBusquedaFecha(1)"></button>
                                              </span>
                </div>
                ​
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1" dropdownMenu >
                  <li>
                    <div style="display:inline-block;">
                      <datepicker [(ngModel)]="dt2" [ngModelOptions]="{standalone: true}" [minDate]="minDate" [showWeeks]="true"></datepicker>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-2 col-sm-12 text-right padding-sm-vr no-padding-b">
        <button class="btn btn-default" (click)="buscarCriteriosCabezera(idProgramaDocente.value, idPromocion.value)" [disabled]="!botonValido">
          Buscar
          <span class="fa fa-search"></span>
        </button>
      </div>

    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-10">
          <div class="text-right">
            <button class="btn btn-labeled btn-default form-group-margin" (click)="cambiarVista('detalles')" *ngIf="mostrarBotonDetalle()"><span class="btn-label icon fa fa-eye"></span> Detalle</button>
            <button (click)="cambiarVista('expedir')" class="btn btn-labeled btn-success form-group-margin" *ngIf="mostrarBotonExpedir()"><span class="btn-label icon fa fa-check"></span> Expedir constancia</button>

            <div class="btn-group form-group-margin" dropdown>
                  <button id="split-button" type="button" class="btn btn-conacyt">
                    <span class="btn-label icon fa fa-download"></span> Exportar</button>
                  <button type="button" class="btn btn-conacyt dropdown-toggle" dropdownToggle>
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                    <li role="menuitem">
                      <a
                        class="dropdown-item"
                        (click)="exportar('Excel')"
                      >
                        Exportar a Excel
                      </a>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem">
                      <a
                        class="dropdown-item"
                        (click)="exportar('PDF')"
                      >
                        Exportar a PDF
                      </a>
                    </li>
                  </ul>
                </div>
                
          </div>
        </div>
        <div class="col-md-2 form-group-margin"> <!-- cont-buscar-->
          <div class="row">
            <div class="col-md-12 pull-right text-right">
              <div class="row">
                <input
                  #filtro
                  type="text"
                  class="form-control"
                  id="buscar"
                  placeholder="Buscar..."
                  (keyup.enter)="filtroChanged(filtro.value)"
                  (blur)="limpiarInput(); filtro.value=''"
                >
              </div>
            </div>
          </div>
        </div> <!-- cont-buscar-->
      </div>
    </div>


    <div class="table-default">
      <div role="grid" class="dataTables_wrapper form-inline">
        <div class="table-header clearfix">
          <div class="table-caption">Lista de solicitudes</div>

          <div class="DT-lf-right">
            <div class="DT-per-page">
              <div class="dataTables_length" id="jq-datatables-example_length">
                <label>Registros por p&aacute;gina:
                  <select #limiteControl
                          name="jq-datatables-example_length"
                          aria-controls="jq-datatables-example"
                          class="form-control input-sm"
                          (change) = "setLimite(limiteControl.value)"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </label>
              </div>
            </div>

          </div>
        </div>
        <div class="table-responsive">
          <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer" id="jq-datatables-example" aria-describedby="jq-datatables-example_info">
            <thead>
            <tr role="row">
              <th
                *ngFor="let columna of columnas"
                [ngClass]="{
							        		'sorting_desc': columna.sort === 'desc',
							        		'sorting_asc': columna.sort === 'asc',
							        		'sorting': columna.sort !== false
							        	}"
                (click)="sortChanged(columna)"
              >
                {{columna.titulo}}
              </th>
            </tr>
            </thead>
            <tbody *ngIf = "registros.length === 0">
            <tr class="gradeA odd">
              <th class="text-center" colspan="4">
                Cambie sus criterios de búsqueda
              </th>
            </tr>
            </tbody>
            <tbody *ngIf = "registros.length !== 0">
            <tr
              *ngFor="let registro of registros"
              class="gradeA odd"
              [ngClass]="{
							        		'seleccionado': rowSeleccionado(registro)
							        }"
              (click) = "rowSeleccion(registro)"
            >
              <td class="center">{{registro?.estudiante?.matricula?.matriculaCompleta}}</td>
              <td class="center">{{registro?.estudiante?.datosPersonales?.getNombreCompleto()}}</td>
              <td class="center">{{obtenerFecha(registro?.fechaCreacion)}}</td>
              <td class="center">{{registro?.estatus?.valor}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="table-footer clearfix">
          <div class="DT-pagination" *ngIf="isSetPaginacion()">
            <div class="dataTables_paginate paging_simple_numbers">
              <pagination
                class="pagination"
                [totalItems] = "paginacion.registrosTotales"
                [itemsPerPage] = "limite"
                [(ngModel)] = "paginaActual"
                (pageChanged) = "cambiarPagina($event)"
                previousText = "Anterior"
                nextText = "Siguiente"
              >
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modalRepositorioFormatos  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarModalRepositorio()" aria-hidden="true">X</button>
    <h4 class="modal-title" id="myModalLabel">
      Repositorio de formatos
    </h4>
  </modal-header>
  <modal-body>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 text-right">
          <button *ngIf="mostarBotonesDetalle()"  class="btn btn-labeled btn-default form-group-margin"
                  (click)="constructorDetalleRepo()">
            <span class="btn-label icon fa fa-eye"></span>
            Detalle
          </button>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="panel-body">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer" id="jq-datatables-example" aria-describedby="jq-datatables-example_info">
              <thead>
              <tr role="row">
                <th  *ngFor="let columna of columnasRF"
                     [ngClass]="{
                                            'sorting_desc': columna.sort === 'desc',
                                            'sorting_asc': columna.sort === 'asc',
                                            'sorting': columna.sort !== false
                                            }"
                     >
                  {{columna.titulo}}
                </th>
              </tr>
              </thead>
              <tbody *ngIf = "registrosRF.length === 0">
              <tr class="gradeA odd">
                <th class="text-center" colspan="8">
                  No hay Registros
                </th>
              </tr>
              </tbody>

              <tbody *ngIf = "registrosRF.length !== 0">
              <tr *ngFor="let plantillaEditor of registrosRF"
                  class="gradeA odd"
                  [ngClass]="{'seleccionado': rowSeleccionadoRF(plantillaEditor)}"
                  (click) = "rowSeleccionRF(plantillaEditor)">
                <td class="text-left">{{plantillaEditor?.nombre}}</td>
                <td class="text-left">{{plantillaEditor?.isHtml ? 'Creada por el usuario' : 'Predeterminada'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button data-dismiss="modal" class="btn btn-default" type="button" (click)="cerrarModalRepositorio()"><i class="fa fa-times"></i> Cancelar</button>
  </modal-footer>
</modal>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modalDetalleRepositorio  >
  <modal-header>
    <button type="button" class="close" (click)="repositorioFormatos()" aria-hidden="true">X</button>
    <h4 class="modal-title" id="myModalLabel">
      Detalle plantilla
    </h4>
  </modal-header>
  <modal-body>
    <form [formGroup]="formulario">
      <div class="row">
        <div class="col-md-12">
          <dl class="dl-horizontal">
            <dt>
              T&iacute;tulo del documento:
            </dt>
            <dd>
              <div>
                <div class="col-md-6">
                  {{entidadPlantillaEditor?.nombre}}
                </div>
              </div>
            </dd>
          </dl>
          <tiny-mce-editor></tiny-mce-editor>
        </div>
      </div>
    </form>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrarModalDetalleRepo()">
      <span class="btn-label icon fa fa-times"></span>
      Cancelar
    </button>

    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="repositorioFormatos()">
      <span class="btn-label icon fa fa-angle-left"></span>
      Repositorio Formatos
    </button>
  </modal-footer>
</modal>
