<div class="note col-md-12 form-group-margin">
  <div class="row">
    <div class="col-md-12"><h5 class="note-title">5. Explic&oacute; en lenguaje claro y entendible los conceptos.</h5></div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta5" [checked]="verificarPregunta(5,1)"
                     (change)="cambioRadio5(1)" value="1">
              <span class="lbl">Excelente</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta5" [checked]="verificarPregunta(5,2)"
                     (change)="cambioRadio5(2)" value="2">
              <span class="lbl">Muy bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta5" [checked]="verificarPregunta(5,3)"
                     (change)="cambioRadio5(3)" value="3">
              <span class="lbl">Bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta5" [checked]="verificarPregunta(5,4)"
                     (change)="cambioRadio5(4)" value="4">
              <span class="lbl">Regular</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta5" [checked]="verificarPregunta(5,5)"
                     (change)="cambioRadio5(5)" value="5">
              <span class="lbl">Mal</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="note col-md-12 form-group-margin">
  <div class="row">
    <div class="col-md-12"><h5 class="note-title"> 6. Utiliz&oacute; recursos did&aacute;cticos (pizarr&oacute;n, acetatos, videos, rotafolios, ejercicios).</h5></div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta6" [checked]="verificarPregunta(6,1)"
                     (change)="cambioRadio6(1)" value="1">
              <span class="lbl">Excelente</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta6" [checked]="verificarPregunta(6,2)"
                     (change)="cambioRadio6(2)" value="2">
              <span class="lbl">Muy bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta6" [checked]="verificarPregunta(6,3)"
                     (change)="cambioRadio6(3)" value="3">
              <span class="lbl">Bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta6" [checked]="verificarPregunta(6,4)"
                     (change)="cambioRadio6(4)" value="4">
              <span class="lbl">Regular</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta6" [checked]="verificarPregunta(6,5)"
                     (change)="cambioRadio6(5)" value="5">
              <span class="lbl">Mal</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="note col-md-12 form-group-margin">
  <div class="row">
    <div class="col-md-12"><h5 class="note-title">7. Motivó la reflexión y el análisis.</h5></div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta7" [checked]="verificarPregunta(7,1)"
                     (change)="cambioRadio7(1)" value="1">
              <span class="lbl">Excelente</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta7" [checked]="verificarPregunta(7,2)"
                     (change)="cambioRadio7(2)" value="2">
              <span class="lbl">Muy bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta7" [checked]="verificarPregunta(7,3)"
                     (change)="cambioRadio7(3)" value="3">
              <span class="lbl">Bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta7" [checked]="verificarPregunta(7,4)"
                     (change)="cambioRadio7(4)" value="4">
              <span class="lbl">Regular</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta7" [checked]="verificarPregunta(7,5)"
                     (change)="cambioRadio7(5)" value="5">
              <span class="lbl">Mal</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="note col-md-12 form-group-margin">
  <div class="row">
    <div class="col-md-12"><h5 class="note-title">8. Estableció un ambiente de confianza, que permitió la expresión de ideas y el intercambio de éstas con el profesor y otros alumnos.</h5></div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta8" [checked]="verificarPregunta(8,1)"
                     (change)="cambioRadio8(1)" value="1">
              <span class="lbl">Excelente</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta8" [checked]="verificarPregunta(8,2)"
                     (change)="cambioRadio8(2)" value="2">
              <span class="lbl">Muy bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta8" [checked]="verificarPregunta(8,3)"
                     (change)="cambioRadio8(3)" value="3">
              <span class="lbl">Bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta8" [checked]="verificarPregunta(8,4)"
                     (change)="cambioRadio8(4)" value="4">
              <span class="lbl">Regular</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta8" [checked]="verificarPregunta(8,5)"
                     (change)="cambioRadio8(5)" value="5">
              <span class="lbl">Mal</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

