<div class="page-header">
  <div class="row">
    <div class="col-md-12 text-center text-left-sm">
      <h1>Emisión de t&iacute;tulos</h1>
      <p><small>Lista de estudiantes para emisión de títulos.</small></p>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-12">
    <div class="panel ">
      <div class="panel-body">
        <div class="row">
          <form [formGroup]="formulario">

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
                  <div [ngClass]="{'has-error': getControlErrors('idProgramaDocente') }" >
                    <label >Programa docente:</label>
                    <select #programa class="form-control" ngControl="idProgramaDocente"
                    formControlName="idProgramaDocente" (change)="recuperarPromociones(programa.value)">
                      <option value="" disabled selected>Selecciona...</option>
                      <option *ngFor="let opcionCatalogoProgramaDocente of opcionesCatalogoProgramaDocente" value="{{opcionCatalogoProgramaDocente.id}}">{{opcionCatalogoProgramaDocente.text}}</option>
                    </select>
                    <span id="helpBlock2" class="help-block" *ngIf="(getControlErrors('idProgramaDocente'))" >
                            {{errorMessage(getControl('idProgramaDocente'))}}
                      </span>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
                  <div [ngClass]="{'has-error': getControlErrors('idPromocion') }">
                    <label >Promoción:</label>
                    <select #promocion class="form-control" ngControl="idPromocion" formControlName="idPromocion">
                      <option value="" disabled selected>Selecciona...</option>
                      <option *ngFor="let opcionCatalogoPromocion of opcionesCatalogoPromocion" value="{{opcionCatalogoPromocion.id}}">{{opcionCatalogoPromocion.text}}</option>
                    </select>
                    <span id="helpBlock2" class="help-block" *ngIf="(getControlErrors('idPromocion'))" >
                              {{errorMessage(getControl('idPromocion'))}}
                      </span>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
                  <label >Estatus:</label>
                  <select #estatus class="form-control" ngControl="idEstatus" formControlName="idEstatus">
                    <option value="" disabled selected>Selecciona...</option>
                    <option *ngFor="let opcionCatalogoEstatus of opcionesCatalogoEstatus" value="{{opcionCatalogoEstatus.id}}">{{opcionCatalogoEstatus.text}}</option>
                  </select>
                </div>

              </div>
            </div>

            <div class="col-md-4">
              <div class="row">

                <div class="col-md-12 padding-sm-vr no-padding-b">
                  <div class="row">
                    <label class="col-md-6">Fecha de inicio:</label>
                    <div class="col-md-6">
                      <div class="dropdown" dropdown autoClose="disabled">
                        <div class="input-group">
                          <input #fechaInicio type="text" class="form-control" value="{{getFechaInicio()}}" disabled>
                          <span class="input-group-btn">
                                <button class="btn dropdown-toggle fa fa-calendar" type="button" id="menu1" data-toggle="dropdown" dropdownToggle></button>
                              </span>
                        </div>
                        ​
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1" dropdownMenu >
                          <li>
                            <div style="display:inline-block;">
                              <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true"
                              [ngModelOptions]="{standalone: true}" [dateDisabled]="dateDisabled"></datepicker>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 padding-sm-vr no-padding-b">
                  <div class="row">
                    <label class="col-md-6">Fecha de t&eacute;rmino:</label>
                    <div class="col-md-6">
                      <div class="dropdown" dropdown autoClose="disabled">
                        <div class="input-group">
                          <input #fechaFin type="text" class="form-control" value="{{getFechaFin()}}" disabled>
                          <span class="input-group-btn">
                                <button class="btn dropdown-toggle fa fa-calendar" type="button" id="menu1" data-toggle="dropdown" dropdownToggle></button>
                              </span>
                        </div>
                        ​
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1" dropdownMenu >
                          <li>
                            <div style="display:inline-block;">
                              <datepicker [(ngModel)]="dtFin" [minDate]="minDate" [showWeeks]="true"
                              [ngModelOptions]="{standalone: true}" [dateDisabled]="dateDisabled"></datepicker>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-2 col-sm-12 text-right padding-sm-vr no-padding-b">
              <button class="btn btn-default" (click)="filtrarRegistros(promocion.value, estatus.value, fechaInicio.value, fechaFin.value)"> <!--(click)="filtrarRegistros(estatus.value, promocion.value, fechaInicio.value, fechaFin.value)-->
                Buscar
                <span class="fa fa-search"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="panel">
  <div class="panel-body">
    <div class="col-md-12">
      <div class="row">

        <div class="row">
          <div class="col-md-12">

            <div class="col-md-10"><!-- cont-botones-->
              <div class="text-right">
                <div class="col-md-4 form-group-margin pull-right">
                  <select class="form-control" #tipoFecha (change)="activarBotonAsignar(1)">
                    <option value="" disabled selected>Selecciona...</option>
                    <option value="fechaExpedicion">Agregar fecha de expedición</option>
                    <option value="fechaEnvioImpresor">Agregar fecha de recepción</option>
                    <option value="fechaEntregaImpresor">Agregar fecha de entrega</option>
                  </select>
                </div>
                <button class="btn btn-success form-group-margin" (click)="modalAgregarFecha(tipoFecha.value)" *ngIf="mostrarBotonAgregarFecha()" [disabled]="!botonValido"><span class="btn-label icon fa fa-plus"></span> Agregar fecha</button>
                <div class="btn-group form-group-margin" dropdown>
                  <button id="split-button" type="button" class="btn btn-conacyt"><span class="btn-label icon fa fa-download"></span> Exportar</button>
                  <button type="button" class="btn btn-conacyt dropdown-toggle" dropdownToggle>
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                    <li role="menuitem">
                      <a
                        class="dropdown-item"
                        (click)="exportar('Excel')"
                      >
                        Exportar a Excel
                      </a>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem">
                      <a
                        class="dropdown-item"
                        (click)="exportar('PDF')"
                      >
                        Exportar a PDF
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- cont-botones-->
            ​
            <div class="col-md-2 form-group-margin"> <!-- cont-buscar-->
              <div class="row">
                <div class="col-md-12 pull-right text-right">
                  <div class="row">
                    <input class="form-control"
                           #filtro
                           type="text"
                           id="buscar"
                           placeholder="Buscar..."
                           (keyup.enter)="filtroChanged(filtro.value)"
                    >
                  </div>
                </div>
              </div>
            </div> <!-- cont-buscar-->
          </div>
        </div>

        <div class="table-default">
          <div role="grid" class="dataTables_wrapper form-inline">
            <form [formGroup]="formularioRegistroPagina">
              <div class="table-header clearfix">
                <div class="table-caption">T&iacute;tulos en proceso de expedici&oacute;n.</div>

                <div class="DT-lf-right">
                  <div class="DT-per-page">
                    <div class="dataTables_length" id="jq-datatables-example_length">
                      <label>Registros por página: <select
                        #limiteControl
                        name="jq-datatables-example_length"
                        aria-controls="jq-datatables-example"
                        class="form-control input-sm"
                        (change) = "setLimite(limiteControl.value)"
                        formControlName="registrosPorPagina"
                      >
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      </label>
                    </div>
                  </div>

                </div>
              </div>
            </form>
            <div class="table-responsive">
              <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer" id="jq-datatables-example" aria-describedby="jq-datatables-example_info">
                <thead>
                <tr role="row">

                  <th
                    *ngFor="let columna of columnas"
                    [ngClass]="{
                							        		'sorting_desc': columna.sort === 'desc',
                							        		'sorting_asc': columna.sort === 'asc',
                							        		'sorting': columna.sort !== false
                							        	}"
                    (click)="sortChanged(columna)"><!--(click)="sortChanged(columna)"-->
                    {{columna.titulo}}
                  </th>
                </tr>
                </thead>

                <tbody *ngIf = "registros.length === 0">
                <tr class="gradeA odd">
                  <th class="text-center" colspan="8">
                    No hay Registros
                  </th>
                </tr>
                </tbody>
                <tbody *ngIf = "registros.length !== 0">
                <tr
                  *ngFor="let registro of registros"
                  class="gradeA odd"
                  [ngClass]="{
    							        		      'seleccionado': rowSeleccionado(registro)
    							                  }"
                >
                  <td class="text-center" (click) = "rowSeleccion(registro)">{{registro?.estudiante?.matricula?.matriculaCompleta}}</td>
                  <td class="text-center" (click) = "rowSeleccion(registro)">{{registro?.estudiante?.datosPersonales?.getNombreCompleto()}}</td>
                  <td class="text-center" (click) = "rowSeleccion(registro)">{{registro?.grado}}</td>
                  <td class="text-center" (click) = "rowSeleccion(registro)">{{registro?.getFechaExamen()}}</td>
                  <td class="text-center" (click) = "rowSeleccion(registro)">{{registro?.getFechaExpedicion()}}</td>
                  <td class="text-center" (click) = "rowSeleccion(registro)">{{registro?.getFechaEnvioImpresor()}}</td>
                  <td class="text-center" (click) = "rowSeleccion(registro)">{{registro?.getFechaEntregaImpresor()}}</td>
                  <!--<td class="center">{{registro?.estatus.valor}}</td>-->
                  <td class="text-center">
                    <select class="form-control" #estatusRegistro (change)="cambiarEstatus(estatusRegistro.value, registro?.id)" [disabled]="habilitarSelect(registro?.id)">
                      <option *ngFor="let opcionCatalogoEstatus of opcionesCatalogoEstatus" value="{{opcionCatalogoEstatus.id}}" [selected]="opcionCatalogoEstatus.id == registro?.estatus.id">{{opcionCatalogoEstatus.text}}</option>
                    </select>
                  </td>

                </tr>
                </tbody>
              </table>
            </div>
            <div class="table-footer clearfix">
              <div class="DT-pagination" *ngIf="isSetPaginacion()">
                <div class="dataTables_paginate paging_simple_numbers">
                  <pagination
                    class="pagination"
                    [totalItems] = "paginacion.registrosTotales"
                    [itemsPerPage] = "limite"
                    [maxSize] = "maxSizePags"
                    [rotate]="false"
                    [(ngModel)] = "paginaActual"
                    (pageChanged) = "cambiarPagina($event)"
                    previousText = "Anterior"
                    nextText = "Siguiente"
                  >
                  </pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL AGREGAR FECHA -->
<modal [animation]="animation" [keyboard]="keyboard"
  [backdrop]="backdrop" #modalAsignarFecha>
  <modal-header>
    <button type="button" class="close" data-dismiss="modal"
                aria-label="Close" (click)="cerrarModalAgregarFecha()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Agregar fecha</h4>
  </modal-header>
  <modal-body>
    <form class="form-horizontal" [formGroup]="formularioTitulo">
        <div class="row">

                <div class="col-md-12 form-group-margin">
                    <div class="row">
                        <div class="col-md-6 form-group-margin">
                            <div class="row">
                                <dl class="form-horizontal">
                                    <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Matr&iacute;cula:</dt>
                                    <dd class="col-md-6">{{entidadDetalleTitulo?.estudiante?.matricula?.matriculaCompleta}}</dd>
                                </dl>
                            </div>
                        </div>

                        <div class="col-md-6 form-group-margin">
                            <div class="row">
                                <dl class="form-horizontal">
                                    <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Graduado:</dt>
                                    <dd class="col-md-6">{{entidadDetalleTitulo?.estudiante?.datosPersonales?.getNombreCompleto()}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 form-group-margin">
                            <div class="row">
                                <dl class="form-horizontal">
                                    <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Grado del título:</dt>
                                    <dd class="col-md-6">{{entidadDetalleTitulo?.grado}}</dd>
                                </dl>
                            </div>
                        </div>

                        <div class="col-md-6 form-group-margin">
                            <div class="row">
                                <dl class="form-horizontal">
                                    <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Estatus:</dt>
                                    <dd class="col-md-6">{{entidadDetalleTitulo?.estatus?.valor}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 padding-xs-vr">
                        <div class="row">
                            <label class="col-md-6 control-label text-left" for="fecha">Fecha:</label>
                            <div class="col-md-6">
                                <div class="dropdown" dropdown autoClose="outsideClick">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               value="{{ getFechaAsignacion()}}" disabled
                                               ng-model="fechaExamen" *ngIf="fa">
                                        <span class="input-group-btn">
                                            <button class="btn dropdown-toggle fa fa-calendar" type="button" id="menu" data-toggle="dropdown" dropdownToggle></button>
                                        </span>
                                    </div>

                                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu" dropdownMenu >
                                        <li>
                                            <div style="display:inline-block;">
                                                <datepicker [(ngModel)]="fa" [minDate]="minDate" [showWeeks]="true"
                                                [ngModelOptions]="{standalone: true}" [dateDisabled]="dateDisabled"></datepicker>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrarModalAgregarFecha()"><i class="fa fa-close"></i> Cerrar</button>
    <button type="button" class="btn btn-success" (click)="enviarFormulario()"><i class="fa fa-check"></i>Agregar fecha</button>
  </modal-footer>
</modal>
<!-- FIN DEL MODAL AGREGAR FECHA -->
