<div class="page-header">
  <div class="row">
    <div class="col-md-12 text-center text-left-sm">
      <h1>Administraci&oacute;n de cat&aacute;logos</h1>
      <p>
        <small>Cat&aacute;logo de becas y ayudas</small>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <!--Lista datos-->
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body">
        <div class="col-md-12" *ngIf="erroresConsultas !== 0">
          <alert
            *ngFor="let alerta of erroresConsultas"
            [type]="alerta.tipo"
            dismissible="true">
            {{ alerta?.mensaje }}
          </alert>
        </div>
        <div class="row">
          <div class="col-md-12">

            <div class="col-md-10"><!-- cont-botones-->
              <div class="text-right">
                <button class="btn btn-labeled btn-success form-group-margin" *ngIf="ocultarOpcionActivar()" (click)="cambiarEstatusBeca('activar')" ><span class="btn-label icon fa fa-plus-circle"></span>Activar
                </button>
                <button class="btn btn-labeled btn-danger form-group-margin" *ngIf="ocultarOpcionDesactivar()" (click)="cambiarEstatusBeca('desactivar')"><span class="btn-label icon fa fa-minus-circle"></span>Desactivar
                </button>
                <button class="btn btn-labeled btn-warning form-group-margin" *ngIf="registroSeleccionado" (click)="constructorAgreActu('editar')"><span
                  class="btn-label icon fa fa-pencil-square-o"></span>Editar
                </button>
                <button class="btn btn-labeled btn-default form-group-margin" *ngIf="registroSeleccionado" (click)="constructorDB()"><span
                  class="btn-label icon fa fa-eye"></span>Detalle
                </button>
                <button class="btn btn-labeled btn-success form-group-margin"  (click)="constructorAgreActu('crear')"><span
                  class="btn-label icon fa fa-plus"></span>Agregar
                </button>
                <div class="btn-group form-group-margin" dropdown>
                  <button class="btn btn-conacyt dropdown-toggle" type="button" data-toggle="dropdown">
                  <span class="btn-label icon fa fa-download"></span> Exportar </button>  
                  <button type="button" class="btn btn-conacyt dropdown-toggle" dropdownToggle>
                    <i class="fa fa-caret-down"></i>
                  </button>              
                   <ul class="dropdown-menu">
                    <li role="menuitem"><a class="dropdown-item" (click)="exportar('Excel')" >Exportar a Excel</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem" ><a class="dropdown-item" (click)="exportar('PDF')" >Exportar a PDF</a></li>
                  </ul>
                </div>
              </div>
            </div> <!-- cont-botones-->
            ​
            <div class="col-md-2 form-group-margin"> <!-- cont-buscar-->
              <div class="row">
                <div class="col-md-12 pull-right text-right">
                  <div class="row">
                    <input
                      #filtro
                      type="text"
                      class="form-control"
                      id="buscar"
                      placeholder="Buscar..."
                      (keyup.enter)="filtroChanged(filtro.value)"
                    >
                  </div>
                </div>
              </div>
            </div> <!-- cont-buscar-->
          </div>
        </div>

        <div role="grid" id="jq-datatables-example_wrapper"
             class="dataTables_wrapper form-inline no-footer table-responsive">
          <div class="table-header clearfix">
            <div class="table-caption">Lista de becas/ayudas</div>
            <div class="DT-lf-right">
              <div class="DT-per-page">
                <div class="dataTables_length" id="jq-datatables-example_length">
                  <label>Registros por página:
                    <select
                      #limiteControl
                      name="jq-datatables-example_length"
                      aria-controls="jq-datatables-example"
                      class="form-control input-sm"
                      (change)="setLimite(limiteControl.value)"
                    >
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table cellpadding="0" cellspacing="0" border="0"
                   class="table table-striped table-bordered dataTable no-footer" id="jq-datatables-example"
                   aria-describedby="jq-datatables-example_info">
              <thead>
              <tr role="row">
                <th
                  *ngFor="let columna of columnas"
                  [ngClass]="{
							        		'sorting_desc': columna.sort === 'desc',
							        		'sorting_asc': columna.sort === 'asc',
							        		'sorting': columna.sort !== false
							        	}"
                  (click)="sortChanged(columna)"
                >
                  {{columna.titulo}}
                </th>
              </tr>
              </thead>
              <tbody *ngIf="registros === 0">
              <tr class="gradeA odd">
                <th class="text-center" colspan="4">
                  No hay Registros
                </th>
              </tr>
              </tbody>
              <tbody *ngIf="registros !== 0">
              <tr
                *ngFor="let registro of registros"
                class="gradeA odd"
                [ngClass]="{
							        		'seleccionado': rowSeleccionado(registro)
							        }"
                (click)="rowSeleccion(registro)"
              >
                <td class="text-left">{{registro.descripcion}}</td>
                <td class="text-left">{{registro.clasificacion.valor}}</td>
                <td class="text-left">{{obtenerFecha(registro.ultimaActualizacion)}}</td>
                <td class="text-left">{{registro.estatus.valor}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="table-footer clearfix">
            <div class="DT-pagination" *ngIf="isSetPaginacion()">
              <div class="dataTables_paginate paging_simple_numbers">
                <pagination
                  class="pagination"
                  [totalItems] = "paginacion.registrosTotales"
                  [itemsPerPage] = "limite"
                  [maxSize] = "maxSizePags"
                  [rotate]="false"
                  [(ngModel)] = "paginaActual"
                  (pageChanged) = "cambiarPagina($event)"
                  previousText = "Anterior"
                  nextText = "Siguiente"
                >
                </pagination>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- panel body-->
    </div>  <!-- panel colourable-->
  </div> <!-- Fin col-md-12-->
</div><!-- FIN row-->
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modalAgreActu  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarModalAgregarActualizar()">×</button>
    <h4 class="modal-title">{{edicionFormulario ? 'Editar beca/ayuda' : ' Agregar beca o ayuda'}}</h4>
  </modal-header>
  <modal-body>
    <form role="form" (ngSubmit)="enviarFormulario(descripcion.value, idClasificacion.value, idEstatus.value)" [formGroup]="formularioBecaApoyo">
      <div class="row">
        <div class="col-md-12">
          <h5 class="form-heading text-muted text-semibold text-sm">BECAS Y/O AYUDAS</h5>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div [ngClass]="{'has-error': getControlErrors('descripcion')}">
              <div class=" col-md-12 padding-xs-vr">
                <div class="row">
                  <label for="descripcion" class="col-md-3 control-label">Descripción: *</label>
                  <div class="col-md-9">
                                    <textarea class="form-control" id="descripcion" name="descripcion" maxlength="249"
                                              ngControl="descripcion" placeholder="Descripción" #descripcion formControlName="descripcion"></textarea>
                    <span id="helpBlock2" class="help-block" *ngIf="(getControlErrors('descripcion'))">
                                        {{errorMessage(getControl('descripcion'))}}
                                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div> <!--fin row-->
        </div><!--fin col-md-12-->

        <div class="col-md-12">
          <div class="row">
            <div [ngClass]="{'has-error': getControlErrors('idClasificacion')}">
              <div class="col-md-6 padding-xs-vr">
                <div class="row">
                  <label for="idClasificacion" class="col-md-6 control-label">Clasificación: *</label>
                  <div class="col-md-6">
                    <select id="idClasificacion" name="idClasificacion"
                            ngControl="idClasificacion" class="form-control" #idClasificacion formControlName="idClasificacion">
                      <option value="" selected>Selecciona...</option>
                      <option
                              *ngFor="let catalogoItem of opcionesCatalogoClasificacion"
                              value="{{catalogoItem.id}}"
                      >
                        {{catalogoItem.text}}
                      </option>
                    </select>
                    <span id="helpBlock3" class="help-block" *ngIf="(getControlErrors('idClasificacion'))">
                                        {{errorMessage(getControl('idClasificacion'))}}
                                    </span>
                  </div>
                </div>
              </div> <!--fin col-md-6-->
            </div>
            <div [ngClass]="{'has-error': getControlErrors('idEstatus')}">
              <div class=" col-md-6 padding-xs-vr">
                <div class="row">
                  <label for="idEstatus" class="col-md-6 control-label">Estatus: *</label>
                  <div class="col-md-6">
                    <select id="idEstatus" name="idEstatus"
                            ngControl="idEstatus" class="form-control" #idEstatus formControlName="idEstatus">
                      <option value="" selected>Selecciona...</option>
                      <option
                              *ngFor="let catalogoItem of opcionesCatalogoEstatus"
                              value="{{catalogoItem.id}}"
                      >
                        {{catalogoItem.text}}
                      </option>
                    </select>
                    <span id="helpBlock1" class="help-block" *ngIf="(getControlErrors('idEstatus'))">
                                        {{errorMessage(getControl('idEstatus'))}}
                                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!--fin row-->
    </form>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="cerrarModalAgregarActualizar()">
      <i class="fa fa-close"></i> Cancelar
    </button>
    <button type="button" class="btn btn-success" (click)="enviarFormulario()">
      <i class="fa fa-floppy-o"></i>{{edicionFormulario? '&nbsp;&nbsp;Actualizar' : '&nbsp;&nbsp;Guardar'}}
    </button>
  </modal-footer>
</modal>
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modalDetalle  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarModalDetalleBeca()">×</button>
    <h4 class="modal-title">Detalle becas/ayudas</h4>
  </modal-header>
  <modal-body>
    <div class="col-md-12" *ngIf="erroresConsultas.lenght !== 0" >
      <alert
              *ngFor="let alerta of erroresConsultas"
              [type]="alerta.tipo"
              dismissible="true">
        {{ alerta?.mensaje }}
      </alert>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 form-group-margin">
          <div class="row">
            <dl class="form-horizontal">
              <dt class="col-md-3 text-right-lg text-right-md text-left-sm text-left-xs">Descripción: </dt>
              <dd class="col-md-9">{{entidadBecas?.descripcion}}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 form-group-margin">
          <div class="row">
            <dl class="form-horizontal">
              <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Clasificación: </dt>
              <dd class="col-md-6">{{entidadBecas?.clasificacion?.valor}}</dd>
            </dl>
          </div>
        </div>
        <div class="col-md-6 form-group-margin">
          <div class="row">
            <dl class="form-horizontal">
              <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Estatus: </dt>
              <dd class="col-md-6">{{entidadBecas?.estatus?.valor}}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button class="btn btn-default" type="button" (click)="cerrarModalDetalleBeca()"><i class="fa fa-close"></i>&nbsp;&nbsp;Cerrar</button>
  </modal-footer>
</modal>
