<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modalFoto>
  <modal-header>
    <button type="button" class="close" (click)="cerrarModal2()" aria-hidden="true">×</button>
    <h4 class="modal-title">Agregar fotograf&iacute;a</h4>
  </modal-header>
  <modal-body>


    <div class="row">
      <div class="col-md-12"  *ngIf="alertas.lenght !== 0">
        <alert
          *ngFor="let alerta of alertas;let i = index"
          [type]="alerta.type"
          dismissible="true"
          (close)="cerrarAlerta(i)">
          {{ alerta?.msg }}
        </alert>
      </div>
      <div class=" col-md-12 padding-xs-vr">
        <label for="nombreArchivo" class="col-md-6 control-label text-left">Nombre del archivo
          (Fotografía):</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="nombreArchivo" name="nombreArchivo" maxlength="50"
                 value="{{nombreArchivo}}"
                 placeholder="" readonly="readonly">
        </div>
      </div>
      <form [formGroup]="formularioDocumentacion">
        <div class=" col-md-12 padding-xs-vr">
          <div class="my-drop-zone text-center" rows="10">
            <div id="dropzonejs-example" class="dropzone-box dz-clickable dropzone-custome">
              <div class="dz-default dz-message " ngFileSelect [options]="options" (onUpload)="handleDropUpload($event)">

                <i class="fa fa-cloud-upload"></i>
                Suelte el archivo aqu&iacute;<br><span class="dz-text-small">o da clic para subir manualmente</span>
              </div>
              <input class="col-md-12" type="file" name="file" accept="image/jpeg,image/png" ngFileSelect
                     [options]="options"
                     (onUpload)="handleBasicUpload($event)">
            </div>
            <div class="progress">
              <div
                *ngIf="enableBasic()"
                class="progress-bar"
                role="progressbar"
                aria-valuenow="basicProgress"
                aria-valuemin="0"
                aria-valuemax="100"
                [style.width]="basicProgress + '%'">
                {{basicProgress}}%
              </div>
              <div
                *ngIf="enableDrop()"
                class="progress-bar"
                role="progressbar"
                aria-valuenow="dropProgress"
                aria-valuemin="0"
                aria-valuemax="100"
                [style.width]="dropProgress + '%'">
                {{dropProgress}}%
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="col-md-12 padding-xs-vr">
        <label class="fat-commentarios text-center">Nota: Solo archivos con formato .jpg y .png</label>
      </div>
    </div>

  </modal-body>
  <modal-footer>
    <div class="text-right">
      <button (click)="cerrarModal()" class="btn btn-default" type="button" data-dismiss="modal"><span
        class="glyphicon glyphicon-remove"></span> Cancelar
      </button>
      <button (click)="enviarFormulario()" type="submit" class="btn btn-success"
              [disabled]="habilitarBotonAgregar"><span
        class="glyphicon glyphicon-plus"></span> Agregar
      </button>
    </div>  </modal-footer>
</modal>
