<div class="page-header">
  <div class="row">
    <div class="col-md-12 text-center text-left-sm">
      <h1>Evaluaciones</h1>
      <p><small>Evaluaciones de desempeño por profesor.</small></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel ">
      <div class="panel-body">

        <div class="row">

          <div class="col-md-8">
            <div class="row">

              <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
                <label >Programa docente:</label>
                <div *ngIf="!esCoordinador">
                  <select class="form-control" #idProgramaDocente
                          (change)="cambioProgramaDocenteFiltro(idProgramaDocente.value)"
                          (change)="activarBotonBusqueda(1)">
                    <option value="" selected>Selecciona...</option>
                    <option
                      *ngFor="let programaDocente of opcionesSelectProgramaDocente"
                      value="{{programaDocente.id}}"
                    >
                      {{programaDocente.text}}
                    </option>
                  </select>
                </div>
                <div *ngIf="esCoordinador === true">
                  <select class="form-control" #idProgramaDocente (change)="cambioProgramaDocenteFiltro(idProgramaDocente.value)"
                          (change)="activarBotonBusqueda(1)"
                          [disabled] = "desahabilitarSelectCoordiancion">
                    <option
                      *ngFor="let programaDocente of opcionesSelectProgramaDocente"
                      value="{{programaDocente.id}}"
                    >
                      {{programaDocente.text}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
                <label >Promoción:</label>
                <select class="form-control" #idPromocion (change)="cambioPromocionFiltro(idPromocion.value)"
                        (change)="activarBotonBusqueda(2)">
                  <option value="" selected>Selecciona...</option>
                  <option
                    *ngFor="let promocion of opcionesSelectPromocion"
                    value="{{promocion.id}}"
                  >
                    {{promocion.text}}
                  </option>
                </select>
              </div>

              <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
                <label >Materia:</label>
                <select class="form-control" #idMateria (change)="activarBotonBusqueda(1)">
                  <option value="" selected>Selecciona...</option>
                  <option
                    *ngFor="let catalogoMateria of opcionesSelectMateria"
                    value="{{catalogoMateria.id}}"
                  >
                    {{catalogoMateria?.cursoOptativo?.clave ? catalogoMateria?.cursoOptativo?.clave : catalogoMateria?.materia?.clave}}-{{catalogoMateria?.cursoOptativo?.descripcion ? catalogoMateria?.cursoOptativo?.descripcion : catalogoMateria?.materia?.descripcion}}
                  </option>
                </select>
              </div>

            </div>
          </div>

          <div class="col-md-4 col-sm-12 text-right padding-sm-vr no-padding-b">
            <button (click)="buscarCriteriosCabezera(idMateria.value)" class="btn btn-default">Buscar <span class="fa fa-search"></span></button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <alert
      *ngFor="let alerta of alertas;let i = index"
      [type]="alerta.type"
      dismissible="true"
      (close)="cerrarAlerta(i)"
      dismissOnTimeout="4000">
      {{ alerta?.msg }}
    </alert>
  </div>

  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body">

        <div class="row">
          <div class="col-md-12">

            <div class="col-md-10"><!-- cont-botones-->
              <div class="text-right">
                <button class="btn btn-labeled btn-default form-group-margin" *ngIf="registroSeleccionado" (click)="modalResultadosEvaluacion()"><span class="btn-label icon fa fa-eye"></span>Detalle</button>
              </div>
            </div> <!-- cont-botones-->
            ​
            <!--<div class="col-md-2 form-group-margin"> 
              <div class="row">
                <div class="col-md-12 pull-right text-right">
                  <div class="row">
                    <input
                      #filtro
                      type="text"
                      class="form-control"
                      id="buscar"
                      placeholder="Buscar..."
                      (keyup.enter)="filtroChanged(filtro.value)"
                    >
                  </div>
                </div>
              </div>
            </div> <cont-buscar-->
          </div>
        </div>



        <!--======================================
            =            DATA-TABLE-TABLE            =
            =======================================-->
        <div class="col-md-12">
          <div class="row">
            <!--=================================
                =            DATA-TABLES            =
                ==================================-->
            <div role="grid" id="jq-datatables-example_wrapper" class="dataTables_wrapper form-inline no-footer table-responsive">
              <div class="table-header clearfix">
                <div class="table-caption">Lista de evaluaciones</div>
                <div class="DT-lf-right">
                  <div class="DT-per-page">
                    <div class="dataTables_length" id="jq-datatables-example_length">
                      <label>Registros por página:
                        <select
                          #limiteControl
                          name="jq-datatables-example_length"
                          aria-controls="jq-datatables-example"
                          class="form-control input-sm"
                          (change) = "setLimite(limiteControl.value)"
                        >
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive" *ngIf="registros">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer" id="jq-datatables-example"
                       aria-describedby="jq-datatables-example_info">
                  <thead>
                  <tr role="row">
                    <th
                      *ngFor="let columna of columnas"
                    >
                      {{columna.titulo}}
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngIf="registrosAux.length === 0">
                  <tr class="gradeA odd">
                    <th class="text-center" colspan="3">
                      Cambie sus criterios de búsqueda
                    </th>
                  </tr>
                  </tbody>
                  <tbody *ngIf="registrosAux.length > 0">
                  <tr class="gradeA odd" (click)="rowSeleccion(registro)" *ngFor="let registro of registrosAux" [ngClass]="{'seleccionado': rowSeleccionado(registro)}">
                    <td class="center">{{registro?.materiaImpartida.materia?.clave}}</td>
                    <td class="center" *ngIf="registro?.materiaImpartida?.cursoOptativo?.descripcion"
                      title="{{registro?.materiaImpartida.promocion?.getClavePromocion() }}">{{registro?.materiaImpartida?.cursoOptativo?.descripcion}}
                    </td>
                    <td class="center" *ngIf="!registro?.materiaImpartida?.cursoOptativo?.descripcion"
                      title="{{registro?.materiaImpartida.promocion?.getClavePromocion() }}">{{registro?.materiaImpartida?.materia?.descripcion}}
                    </td>
                    <td class="center">{{registro?.profesor?.getNombreCompleto()}}</td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <div class="table-footer clearfix">
                <div class="DT-pagination" *ngIf="isSetPaginacion()">
                  <div class="dataTables_paginate paging_simple_numbers">
                    <pagination class="pagination"
                                [totalItems] = "paginacion.registrosTotales"
                                [itemsPerPage] = "paginacion.registrosPagina"
                                [(ngModel)] = "paginaActual"
                                (pageChanged) = "cambiarPagina($event)"
                                previousText = "Anterior"
                                nextText = "Siguiente">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
            <!--====  End of DATA-TABLES  ====-->
          </div>
        </div>
        <!--====  End of DATA-TABLE-TABLE  ====-->
      </div>
    </div>
  </div>
</div>
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" class="modal-default" #modalResultadoEvaluacionDocente  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarModalDetalleEvaluacion()">×</button>
    <h4 class="modal-title">{{materiaOptativaEvaluacion?.materia?.descripcion + " - " + nombreProfesorEvaluacion}}</h4>
  </modal-header>
  <modal-body>
    <button class="btn btn-labeled btn-conacyt form-group-margin" (click)="descargarResultados()"><span class="btn-label icon fa fa-download"></span>Exportar</button>
    <tabset *ngIf="resultadosEvaluacion && materiaOptativaEvaluacion">
      <tab  heading="Gráfica Evaluación">
        <app-detalle-grafica-evaluacion [resultadosEvaluacionDocente]="resultadosEvaluacion"
                                        [nombreProfesor]="nombreProfesorEvaluacion"
                                        [cursoOptativo]="materiaOptativaEvaluacion">Gráfica evaluación...</app-detalle-grafica-evaluacion>
      </tab>
      <tab  heading="Gráfica Aceptación">
        <app-detalle-grafica-aceptacion [resultados]="resultadosEvaluacion"
          [materiaImpartida]="materiaOptativaEvaluacion">Gráfica aceptación</app-detalle-grafica-aceptacion>
      </tab>
      <tab heading="Comentarios Adicionales">
        <app-detalle-cometarios-adicionales [resultados]="resultadosEvaluacion" >Comentarios adicionales</app-detalle-cometarios-adicionales>
      </tab>
    </tabset>
  </modal-body>
  <modal-footer>
    <button class="btn " (click)="cerrarModalDetalleEvaluacion()"><i class="fa fa-times"></i> Cerrar</button>
  </modal-footer>
</modal>