<div class="note col-md-12 form-group-margin">
  <div class="row">
    <div class="col-md-12"><h5 class="note-title">13. Revisó y comentó verbalmente o por escrito los aciertos y errores que tuvo en sus tareas.</h5></div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta13" [checked]="verificarPregunta(13,1)"
                     (change)="cambioRadio13(1)" value="1">
              <span class="lbl">Excelente</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta13" [checked]="verificarPregunta(13,2)"
                     (change)="cambioRadio13(2)" value="2">
              <span class="lbl">Muy bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta13" [checked]="verificarPregunta(13,3)"
                     (change)="cambioRadio13(3)" value="3">
              <span class="lbl">Bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta13" [checked]="verificarPregunta(13,4)"
                     (change)="cambioRadio13(4)" value="4">
              <span class="lbl">Regular</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta13" [checked]="verificarPregunta(13,5)"
                     (change)="cambioRadio13(5)" value="5">
              <span class="lbl">Mal</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="note col-md-12 form-group-margin">
  <div class="row">
    <div class="col-md-12"><h5 class="note-title">14. Respetó los criterios de evaluación establecidos al inicio del curso.</h5></div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta14" [checked]="verificarPregunta(14,1)"
                     (change)="cambioRadio14(1)" value="1">
              <span class="lbl">Excelente</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta14" [checked]="verificarPregunta(14,2)"
                     (change)="cambioRadio14(2)" value="2">
              <span class="lbl">Muy bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta14" [checked]="verificarPregunta(14,3)"
                     (change)="cambioRadio14(3)" value="3">
              <span class="lbl">Bien</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta14" [checked]="verificarPregunta(14,4)"
                     (change)="cambioRadio14(4)" value="4">
              <span class="lbl">Regular</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px" name="pregunta14" [checked]="verificarPregunta(14,5)"
                     (change)="cambioRadio14(5)" value="5">
              <span class="lbl">Mal</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="note col-md-12 form-group-margin">
  <div class="row">
    <div class="col-md-12"><h5 class="note-title">15 ¿Le gustaría tomar otro curso con el profesor?</h5></div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px"  name="pregunta15" [checked]="verificarPregunta(15,6)" (change)="cambioRadio15(6)" value="6">
              <span class="lbl">S&iacute;</span>
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="radio" style="margin-bottom: 0;">
            <label>
              <input type="radio" class="px"  name="pregunta15" [checked]="verificarPregunta(15,7)" (change)="cambioRadio15(7)" value="7">
              <span class="lbl">No</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="note col-md-12 form-group-margin">
  <div class="row">
    <div class="col-md-12"><h5 class="note-title">Comentarios adicionales</h5></div>
    <div class="col-md-12">
      <div class="row">
        <form [formGroup]="formulario">
          <div class="col-md-12" [ngClass]="{'has-error': getControlErrors('comentarios')}">
            <textarea formControlName="comentarios" placeholder="Comentarios adicionales" ngControl="comentarios" class="form-control" rows="3" cols="200" maxlength="1000"></textarea>
            <span style="float: right">
                            (M&aacute;ximo 1000 caracteres)
                    </span>
            <span id="helpBlock2" class="help-block" *ngIf="(getControlErrors('comentarios'))">
	        			{{errorMessage(getControl('comentarios'))}}
	        		</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
