<div class=" ">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-center text-left-sm">
        <h1>Solicitantes</h1>
        <p><small>Lista de solicitantes en los programas docentes.</small></p>
      </div>
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class=" col-md-8 col-sm-12">
            <div class="row">
                <!-- <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
                    <label>Programa Docente:</label>
                    <select #programaDocenteSelection class="form-control" ngControl="idProgramaDocente" formControlName="idProgramaDocente"
                            (change)="cambioProgramaDocenteFiltro(programaDocenteSelection.value)"
                            (change)="activarBotonBuscar(2)" [disabled]="desahabilitarSelectorCoordiancion">
                      <option value="" disabled selected> Selecciona...</option>
                      <option *ngFor="let programaDocenteItem of opcionesProgramaDocente"
                              [value]="programaDocenteItem.id">
                        {{programaDocenteItem.text}}
                      </option>
                    </select>
                  </div> -->
            <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
                <label class=" text-left" for="idProgramaDocente">
                  Programa docente:
                </label>
                <select class="form-control" #idProgramaDocente (change)="cambioProgramaDocenteFiltro(idProgramaDocente.value)"
                        (change)="activarBotonBusqueda(2)">
                  <option value="" selected>Selecciona...</option>
                  <option
                    *ngFor="let catalogoProgramaDocente of opcionesSelectProgramaDocente"
                    value="{{catalogoProgramaDocente.id}}"
                  >
                    {{catalogoProgramaDocente.text}}
                  </option>
                </select>
              </div>

              <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
                <label class="text-left" for="idPromocion">
                  Promoci&oacute;n:
                </label>
                <select class="form-control" #idPromocion (change)="activarBotonBusqueda(1)">
                  <option value="" selected>Selecciona...</option>
                  <option
                    *ngFor="let catalogoPromocion of opcionesSelectPromocion"
                    value="{{catalogoPromocion.id}}"
                  >
                    {{catalogoPromocion.text}}
                  </option>
                </select>

              </div>

              <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
                <label class="text-left" for="idNcionalidad">
                  Nacionalidad:
                </label>
                <select class="form-control" #idNacionalidad>
                  <option value="" selected>Selecciona...</option>
                  <option
                    *ngFor="let catalogoNacionalidad of opcionSelectNacionalidad"
                    value="{{catalogoNacionalidad.id}}"
                  >
                    {{catalogoNacionalidad.text}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12 text-right padding-sm-vr no-padding-b">
            <button class="btn btn-default" (click)="buscarCriteriosCabezera(idProgramaDocente.value, idPromocion.value, idNacionalidad.value)" [disabled]="!botonValido">
              Buscar
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-body">

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-10"><!-- cont-botones-->
          <div class="text-right">
          

          
            <div class="btn-group form-group-margin" dropdown>
              <button id="split-button" type="button" class="btn btn-conacyt"><span class="btn-label icon fa fa-download"></span> Exportar</button>
              <button type="button" class="btn btn-conacyt dropdown-toggle" dropdownToggle>
                <i class="fa fa-caret-down"></i>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                <li role="menuitem">
                  <a
                    class="dropdown-item"
                    (click)="exportar('Excel')"
                  >
                    Exportar a Excel
                  </a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                  <a
                    class="dropdown-item"
                    (click)="exportar('PDF')"
                  >
                    Exportar a PDF
                  </a>
                </li>
              </ul>
            </div>


            <button class="btn btn-labeled btn-default form-group-margin" *ngIf="activarBotonDetalle()" (click)="aspiranteDetalles()"><span class="btn-label icon fa fa-eye"></span>Detalle</button>
          </div>
        </div> <!-- cont-botones-->

        <div class="col-md-2 form-group-margin"> <!-- cont-buscar-->
          <div class="row">
            <div class="col-md-12 pull-right text-right">
              <div class="row">
                <input
                  #filtro
                  type="text"
                  class="form-control"
                  id="buscar"
                  placeholder="Buscar..."
                  (keyup.enter)="filtroChanged(filtro.value)"
                >
              </div>
            </div>
          </div>
        </div>
      </div><!-- cont-buscar-->
    </div>

    <div class="col-md-12">
      <div class="row">
        <div role="grid" class="dataTables_wrapper form-inline">
          <div class="table-header clearfix">
            <div class="table-caption">Lista de solicitantes</div>
            <div class="DT-lf-right">
              <div class="DT-per-page">
                <div class="dataTables_length" id="jq-datatables-example_length">
                  <label>Registros por p&aacute;gina:
                    <select #limiteControl
                            name="jq-datatables-example_length"
                            aria-controls="jq-datatables-example"
                            class="form-control input-sm"
                            (change) = "setLimite(limiteControl.value)"
                    >
                      <option value="10">10</option>
                      <option value="25">20</option>
                      <option value="50">50</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer" id="jq-datatables-example" aria-describedby="jq-datatables-example_info">
              <thead>
              <tr role="row">
                <th
                  *ngFor="let columna of columnas"
                  [ngClass]="{
							        		'sorting_desc': columna.sort === 'desc',
							        		'sorting_asc': columna.sort === 'asc',
							        		'sorting': columna.sort !== false
							        	}"
                  (click)="sortChanged(columna)"
                >
                  {{columna.titulo}}
                </th>
              </thead>
              <tbody *ngIf = "registros?.length === 0">
              <tr class="gradeA odd">
                <th class="text-center" colspan="5">
                  No hay Registros
                </th>
              </tr>
              </tbody>
              <tbody *ngIf = "registros?.length !== 0">
              <tr
                *ngFor="let registro of registros"
                class="gradeA odd"
                [ngClass]="{
							        		'seleccionado': rowSeleccionado(registro)
							        }"
                (click) = "rowSeleccion(registro)"
              >
                <td class="center">{{registro?.foliosSolicitud?.folioCompleto}}</td>
                <td class="center">{{registro?.datosPersonales?.nombre}} {{registro?.datosPersonales?.primerApellido}}
                  {{registro?.datosPersonales?.segundoApellido}}</td>
                <td class="center">{{registro?.promocion?.programaDocente?.descripcion}}</td>
                <td class="center">{{registro?.getFechaUltimaActualizacionConFormato()}}</td>
                <td class="center">{{registro?.estatus?.valor}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="table-footer clearfix">
            <div class="DT-pagination" *ngIf="isSetPaginacion()">
              <div class="dataTables_paginate paging_simple_numbers">
                <pagination
                  class="pagination"
                  [totalItems] = "paginacion.registrosTotales"
                  [itemsPerPage] = "limite"
                  [maxSize] = "maxSizePags"
                  [rotate]="false"
                  [(ngModel)] = "paginaActual"
                  (pageChanged) = "cambiarPagina($event)"
                  previousText = "Anterior"
                  nextText = "Siguiente"
                >
                </pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
