<div class="page-header">
  <div class="row">
    <div class="col-md-12 text-center text-left-sm">
      <h1>{{textoArea}}</h1>
      <p><small>Lista de solicitudes de carta de no adeudo.</small></p>
    </div>
  </div>
</div>

<div class="panel ">
  <div class="panel-body">
    <div class="row">
      <form [(formGroup)]="formulario">
        <div class="col-md-8">
          <div class="row">
            <!--<div   [ngClass]="{'has-error': getControlErrors('idProgramaDocente')}">-->
            <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
              <label >Programa Docente:</label>
              <select #programaDocente class="form-control" ngControl="idProgramaDocente"
                      (change)="cambioProgramaDocenteFiltro(programaDocente.value)"
                      (change)="activarBotonBusqueda(2)" formControlName="idProgramaDocente">
                <option value="" disabled selected>Selecciona...</option>
                <option *ngFor="let opcionCatalogoProgramaDocente of opcionesCatalogoProgramaDocente" value="{{opcionCatalogoProgramaDocente.id}}">{{opcionCatalogoProgramaDocente.text}}</option>
              </select>
              <!--<control-mensaje class="col-lg-12" control="idProgramaDocente"></control-mensaje>-->
            </div>
            <!--</div>-->

            <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
              <!--<div [ngClass]="{ 'has-error': getControlErrors('idPromocion') }">-->
              <label >Promoción:</label>
              <select #idPromocion class="form-control" ngControl="idPromocion" (change)="activarBotonBusqueda(1)" formControlName="idPromocion">
                <option value="" disabled selected>Selecciona...</option>
                <option *ngFor="let opcionCatalogoPromocion of opcionesCatalogoPromocion" value="{{opcionCatalogoPromocion.id}}">{{opcionCatalogoPromocion.text}}</option>
              </select>
              <!--<control-mensaje class="col-lg-12" control="idPromocion"></control-mensaje>-->
              <!--</div>-->
            </div>

            <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
              <!--<div  [ngClass]="{ 'has-error': getControlErrors('idEstatus') }">-->
              <label >Estatus:</label>
              <select #estatus class="form-control" ngControl="idEstatus" formControlName="idEstatus">
                <option value="" selected>Selecciona...</option>
                <option value="false">Pendiente</option>
                <option value="true">Sin adeudo</option>
                <!--<option *ngFor="#opcionCatalogoEstatus of opcionesCatalogoEstatus" value="{{opcionCatalogoEstatus.id}}">{{opcionCatalogoEstatus.text}}</option>-->
              </select>
              <!--<control-mensaje class="col-lg-12" control="idEstatus"></control-mensaje>-->
              <!--</div>-->
            </div>

          </div>
        </div>

        <div class="col-md-4 col-sm-12 text-right padding-sm-vr no-padding-b">
          <button class="btn btn-default" (click)="buscarCriteriosCabezera( programaDocente.value,  idPromocion.value, estatus.value)" [disabled]="!botonValido">
            Buscar
            <span class="fa fa-search"></span>
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-body">


    <div class="row">
      <div class="col-md-12">

        <div class="col-md-10"><!-- cont-botones-->
          <div class="text-right" *ngIf="registroSeleccionado && !getEstadoValidacion(area)">
            <button (click)="constructorAF()" class="btn btn-labeled btn-success form-group-margin"><span class="btn-label icon fa fa-check"></span> Asignar firma</button>
          </div>
        </div> <!-- cont-botones-->
        ​
        <div class="col-md-2 form-group-margin"> <!-- cont-buscar-->
          <div class="row">
            <div class="col-md-12 pull-right text-right">
              <div class="row">
                <input
                        #filtro
                        type="text"
                        class="form-control"
                        id="buscar"
                        placeholder="Buscar..."
                        (keyup.enter)="filtroChanged(filtro.value)"
                        (blur)="limpiarFiltroBusqueda(); filtro.value = ''"
                >
              </div>
            </div>
          </div>
        </div> <!-- cont-buscar-->
      </div>
    </div>

    <div class="table-default table-responsive">
      <div role="grid" class="dataTables_wrapper form-inline">
        <div class="table-header clearfix">
          <div class="table-caption">Lista de estudiantes</div>
          <div class="DT-lf-right">
            <div class="DT-per-page">
              <div class="dataTables_length" id="jq-datatables-example_length">
                <label>
                  Registros por página:
                  <select #limiteControl
                          name="jq-datatables-example_length"
                          aria-controls="jq-datatables-example"
                          class="form-control input-sm"
                          (change) = "setLimite(limiteControl.value)"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer" id="jq-datatables-example" aria-describedby="jq-datatables-example_info">
            <thead>

            <tr role="row">
              <th
                      *ngFor="let columna of columnas"
                      [ngClass]="{
                                'sorting_desc': columna.sort === 'desc',
                                'sorting_asc': columna.sort === 'asc',
                                'sorting': columna.sort !== false
                              }"

                      (click)="sortChanged(columna)"><!-- Poner dentro de th cuando este ordenamiento funcionando-->
                {{columna.titulo}}
              </th>
            </tr>
            </thead>

            <tbody *ngIf = "registros.length === 0">
            <tr class="gradeA odd">
              <th class="text-center" colspan="5">
                No hay Registros
              </th>
            </tr>
            </tbody>
            <tbody *ngIf = "registros.length !== 0">
            <tr
                    *ngFor="let registro of registros"
                    class="gradeA odd"
                    [ngClass]="{
                              'seleccionado': rowSeleccionado(registro)
                              }"
                    (click) = "rowSeleccion(registro)"
            >
              <td class="center">{{registro?.motivo}}</td>
              <td class="center">{{registro?.estudiante?.datosPersonales?.getNombreCompleto()}}</td>
              <td class="center">{{registro?.estudiante?.matricula?.matriculaCompleta}}</td>
              <td class="center">{{registro?.getFechaConFormato()}}</td>
              <td *ngIf="area == 'docencia'" class="center">{{registro?.docencia?'Sin adeudo':'Pendiente'}}</td>
              <td *ngIf="area == 'utic'" class="center">{{registro?.utic?'Sin adeudo':'Pendiente'}}</td>
              <td *ngIf="area == 'finanzas'" class="center">{{registro?.finanzas?'Sin adeudo':'Pendiente'}}</td>
              <td *ngIf="area == 'rms'" class="center">{{registro?.rms?'Sin adeudo':'Pendiente'}}</td>
              <td *ngIf="area == 'biblioteca'" class="center">{{registro?.biblioteca?'Sin adeudo':'Pendiente'}}</td>
            </tr>
            </tbody>
          </table>
        </div><!--fin del table responsive-->
        <div class="table-footer clearfix">
          <div class="DT-pagination" *ngIf="isSetPaginacion()">
            <div class="dataTables_paginate paging_simple_numbers">
              <pagination
                      class="pagination"
                      [totalItems] = "paginacion.registrosTotales"
                      [itemsPerPage] = "limite"
                      [maxSize] = "maxSizePags"
                      [rotate]="false"
                      [(ngModel)] = "paginaActual"
                      (pageChanged) = "cambiarPagina($event)"
                      previousText = "Anterior"
                      nextText = "Siguiente"
              >
              </pagination>
            </div>
          </div>
        </div>
      </div><!-- fin del dataTables_wrapper-->
    </div><!--fin del table-default-->
  </div><!---fin del panel body-->
</div><!--fin del panel colourable -->

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modalAsignarFirma  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarModalAsignarFirma()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Asignar firma</h4>
  </modal-header>
  <modal-body>
    <div class="row">
      <div class="col-md-12">
        <h5 class="form-heading text-muted text-semibold text-sm">DATOS DEL ESTUDIANTE</h5>
      </div>

      <div class="col-md-6 form-group-margin">
        <div class="row">
          <dl class="form-horizontal">
            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Motivo:</dt>
            <dd class="col-md-6">{{instanciaSolicitud?.motivo}}</dd>
          </dl>
        </div>
      </div>

      <div class="col-md-12 panel-padding">
        <h5 class="text-center">Se hace constar que <strong class="text-info">{{instanciaSolicitud?.estudiante?.datosPersonales?.getNombreCompleto()}}</strong> con matrícula <strong class="text-info">{{instanciaSolicitud?.estudiante?.matricula?.matriculaCompleta}} </strong> No tiene adeudo alguno en el departamento de Área de <strong class="text-info">{{textoArea}} </strong>.</h5>
      </div>
      <div class="col-md-12">
        <h5 class="form-heading text-muted text-semibold text-sm">ACTIVAR FIRMA DE LIBERACIÓN</h5>
      </div>

      <div class="col-md-6 form-group-margin">
        <div class="row">
          <form class="form-horizontal" [formGroup]="formularioCheck">
            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Activar firma digital de liberación:</dt>
            <dd class="col-md-6"><input #firmaActiva type="checkbox" class="px" [disabled]="validacion" formControlName="checked"></dd>
          </form>
        </div>
      </div>

    </div>
  </modal-body>
  <modal-footer>
    <button data-dismiss="modal" class="btn btn-default" type="button" (click)="cerrarModalAsignarFirma()"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancelar</button>
    <button class="btn btn-success" type="submit" [disabled]="!firmaActiva.checked" (click)="asignarFirma()"><i class="fa fa-check"></i>&nbsp;&nbsp;Activar firma</button>
  </modal-footer>
</modal>

