<div class="panel">
    <div class="panel-body tab-content tab-content-bordered">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 form-group-margin">
                        <div class="row">
                            <dl class="form-horizontal">
                                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Estudiante:</dt>
                                <dd class="col-md-6">{{servicioSocial?.getStrNombreCompletoEstudiante()}}</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="col-md-6 form-group-margin">
                        <div class="row">
                            <dl class="form-horizontal">
                                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Per&iacute;odo:</dt>
                                <dd class="col-md-6">{{servicioSocial?.getStrPeriodo()}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <h6 class="form-heading text-muted text-semibold text-sm">DATOS DE LA INSTITUCIÓN DONDE REALIZARÁ EL SERVICIO SOCIAL</h6>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 form-group-margin">
                        <div class="row">
                            <dl class="form-horizontal">
                                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Institución:</dt>
                                <dd class="col-md-6">{{servicioSocial?.getStrInstitucion()}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-md-6 form-group-margin">
                        <div class="row">
                            <dl class="form-horizontal">
                                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Sector:</dt>
                                <dd class="col-md-6">{{servicioSocial?.getStrSector()}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 form-group-margin">
                        <div class="row">
                            <dl class="form-horizontal">
                                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Calle y número:</dt>
                                <dd class="col-md-6">{{servicioSocial?.getStrCalleNumero()}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-md-6 form-group-margin">
                        <div class="row">
                            <dl class="form-horizontal">
                                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Colonia:</dt>
                                <dd class="col-md-6">{{servicioSocial?.getStrColonia()}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 form-group-margin">
                        <div class="row">
                            <dl class="form-horizontal">
                                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Pa&iacute;s:</dt>
                                <dd class="col-md-6">{{servicioSocial?.getStrPais()}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-md-6 form-group-margin">
                        <div class="row">
                            <dl class="form-horizontal">
                                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Estado:</dt>
                                <dd class="col-md-6">{{servicioSocial?.getStrEntidadFerderativa()}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 form-group-margin">
                        <div class="row">
                            <dl class="form-horizontal">
                                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Municipio:</dt>
                                <dd class="col-md-6">{{servicioSocial?.getStrMunicipio()}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-md-6 form-group-margin">
                        <div class="row">
                            <dl class="form-horizontal">
                                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">C.P:</dt>
                                <dd class="col-md-6">{{servicioSocial?.getStrCodigoPostal()}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 form-group-margin">
                        <div class="row">
                            <dl class="form-horizontal">
                                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Tel&eacute;fono:</dt>
                                <dd class="col-md-6">{{servicioSocial?.getStrTelefono()}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-md-6 form-group-margin">
                        <div class="row">
                            <dl class="form-horizontal">
                                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Cargo:</dt>
                                <dd class="col-md-6">{{servicioSocial?.getStrCargo()}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 form-group-margin">
                        <div class="row">
                            <dl class="form-horizontal">
                                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Beca o compensación:</dt>
                                <dd class="col-md-6">{{servicioSocial?.getStrBeca()}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>