<div class=" ">
  <div class="page-header">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-center text-left-sm">
      <h1>Editar plan de estudios</h1>
      <p><small>{{planEstudiosDescripcion}}</small></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <alert
          *ngFor="let alerta of alertas;let i = index"
          [type]="alerta.type"
          dismissible="true"
          (close)="cerrarAlerta(i)">
          {{ alerta?.msg }}
        </alert>
        <div class="col-lg-12">
          <div class="row">
            <div class="panel">
              <div class="panel-body">
                <alert
                  *ngFor="let alerta of alertas;let i = index"
                  [type]="alerta.type"
                  dismissible="true"
                  (close)="cerrarAlerta(i)">
                  {{ alerta?.msg }}
                </alert>
                <div class="col-lg-12">

                  <form-wizard #wizard [isHidden]="true">
                    <wizard-step [title]="'Datos Generales'" (onNext)="onStep1Next($event)"  >
                      <app-plan-estudios-steps-datos-generales #componentPrimero></app-plan-estudios-steps-datos-generales>
                    </wizard-step>
                    <wizard-step [title]="'Documentaci\u00f3n'" (onNext)="onStep2Next($event)" >
                      <app-plan-estudios-steps-documentacion #componentSegundo></app-plan-estudios-steps-documentacion>
                    </wizard-step>
                    <wizard-step [title]="'Idiomas'" (onNext)="onStep3Next($event)" >
                      <app-plan-estudios-steps-idiomas #componentTercero></app-plan-estudios-steps-idiomas>
                    </wizard-step>
                    <wizard-step [title]="'Materias'" (onNext)="onStep4Next($event)" >
                      <app-plan-estudios-steps-materias #componentUltimo></app-plan-estudios-steps-materias>
                    </wizard-step>

                  </form-wizard>

                  <div class="card-footer2" [hidden]="isCompleted">
                    <button type="button" class="btn btn-secondary float-left" (click)="previous()" *ngIf="!isFirst">Atras</button>
                    <button type="button" class="btn btn-secondary float-right" (click)="next()"  >
                      <span *ngIf="isLast">Finalizar</span><span *ngIf="!isLast">Siguiente</span>
                    </button>
                  </div>


                </div>

              </div>
            </div>
            <button
              class="btn btn-default pull-right"
              (click)="cancelar()">
              <i class="btn-label icon fa fa-arrow-circle-o-left"></i>
              Regresar
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

