<form class="form-horizontal" [formGroup]="formulario">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <alert
          *ngFor="let alerta of alertas;let i = index"
          [type]="alerta.type"
          dismissible="true">
          {{ alerta?.msg }}
        </alert>
        <div class="col-md-12 text-right-lg text-right-md text-left-sm text-left-xs">
          <div class="row">
            <div class="col-md-6 padding-xs-vr">
              <div class="row">
                <div [ngClass]="{'has-error': getControlErrors('nombre')}">

                  <label class="col-md-6 control-label text-right-lg text-right-md text-left-sm text-left-xs" for="nombre">Nombre: *</label>
                  <div class="col-md-6">
                    <input type="text" placeholder="Nombre" name="nombre" id="nombre"
                           formControlName="nombre" class="form-control" maxlength="50">
                    <span id="helpBlock3" class="help-block" *ngIf="(getControlErrors('nombre'))">
                                            {{errorMessage(getControl('nombre'))}}
                                        </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 padding-xs-vr">
              <div class="row">
                <div [ngClass]="{'has-error': getControlErrors('primerApellido')}">
                  <label class="col-md-6 control-label text-right-lg text-right-md text-left-sm text-left-xs" for="primerApellido">Primer apellido: *</label>
                  <div class="col-md-6">
                    <input type="text" placeholder="Primer apellido" name="primerApellido" id="primerApellido"
                           formControlName="primerApellido" class="form-control" maxlength="50">
                    <span id="helpBlock3" class="help-block" *ngIf="(getControlErrors('primerApellido'))">
                                            {{errorMessage(getControl('primerApellido'))}}
                                        </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-12 text-right-lg text-right-md text-left-sm text-left-xs">
          <div class="row">
            <div class="col-md-6 padding-xs-vr">
              <div class="row">
                <div [ngClass]="{'has-error': getControlErrors('segundoApellido')}">
                  <label class="col-md-6 control-label text-right-lg text-right-md text-left-sm text-left-xs" for="segundoApellido">Segundo apellido:</label>
                  <div class="col-md-6">
                    <input type="text" placeholder="Segundo apellido" name="segundo Apellido" id="segundoApellido"
                           formControlName="segundoApellido" class="form-control" maxlength="50">
                    <span id="helpBlock3" class="help-block" *ngIf="(getControlErrors('segundoApellido'))">
                                        {{errorMessage(getControl('segundoApellido'))}}
                                    </span>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-6 padding-xs-vr">
              <div class="row">
                <div [ngClass]="{'has-error': getControlErrors('email')}">
                  <label class="col-md-6 control-label text-right-lg text-right-md text-left-sm text-left-xs" for="email">Correo electr&oacute;nico:
                    *</label>
                  <div class="col-md-6">
                    <input type="text" placeholder="Correo electr&oacute;nico"
                           name="email" #correoElectronico
                           id="email" formControlName="email" maxlength="50"
                           (keyup)="filtroChanged(correoElectronico.value)"
                           class="form-control">
                    <span id="helpBlock3" class="help-block" *ngIf="(getControlErrors('email'))">
                                            {{errorMessage(getControl('email'))}}
                                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-right-lg text-right-md text-left-sm text-left-xs">
          <div class="row">
            <div class="col-md-6 padding-xs-vr">
              <div class="row">
                <div [ngClass]="{'has-error': getControlErrors('casa')}">
                  <label class="col-md-6 control-label text-right-lg text-right-md text-left-sm text-left-xs" for="casa">Tel&eacute;fono:</label>
                  <div class="col-md-6">
                    <input type="text" placeholder="0-00-00-00" name="casa" id="casa" formControlName="casa"
                           maxlength="20" class="form-control">
                    <span id="helpBlock3" class="help-block" *ngIf="(getControlErrors('casa'))">
                                        {{errorMessage(getControl('casa'))}}
                                    </span>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-6 padding-xs-vr">
              <div class="row">
                <label class="col-md-6 control-label text-right-lg text-right-md text-left-sm text-left-xs" for="celular">Celular:</label>
                <div class="col-md-6">
                  <div [ngClass]="{'has-error': getControlErrors('celular')}">
                    <input type="text" placeholder="000-000-0000" name="celular" id="celular" formControlName="celular"
                           class="form-control" maxlength="20">
                    <span id="helpBlock3" class="help-block" *ngIf="(getControlErrors('celular'))">
                                        {{errorMessage(getControl('celular'))}}
                                    </span>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-right-lg text-right-md text-left-sm text-left-xs">
          <div class="row">
            <div class="col-md-6 padding-xs-vr">
              <div class="row">
                <div [ngClass]="{'has-error': getControlErrors('idPais')}">
                  <label class="col-md-6 control-label text-right-lg text-right-md text-left-sm text-left-xs" for="idPais">Pa&iacute;s de origen: *</label>
                  <div class="col-md-6">
                    <select name="idPais" id="idPais"
                            formControlName="idPais" class="form-control">
                      <option value="" disabled selected>Selecciona...</option>
                      <option *ngFor="let pais of opcionesCatPais" value="{{pais.id}}">{{pais.text}}</option>
                    </select>
                    <span id="helpBlock3" class="help-block" *ngIf="(getControlErrors('idPais'))">
                                            {{errorMessage(getControl('idPais'))}}
                                        </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 padding-xs-vr">
              <div class="row">
                <div [ngClass]="{'has-error': getControlErrors('idProgramaDocente')}">
                  <label class="col-md-6 control-label text-right-lg text-right-md text-left-sm text-left-xs" for="idProgramaDocente">Programa docente: *</label>
                  <div class="col-md-6">
                    <select name="idProgramaDocente" id="idProgramaDocente"
                            formControlName="idProgramaDocente" class="form-control">
                      <option value="" disabled selected>Selecciona...</option>
                      <option *ngFor="let programaDocente of opcionesCatProgramasDocente" value="{{programaDocente.id}}">{{programaDocente.text}}</option>
                    </select>
                    <span id="helpBlock3" class="help-block" *ngIf="(getControlErrors('idProgramaDocente'))">
                                            {{errorMessage(getControl('idProgramaDocente'))}}
                                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-right-lg text-right-md text-left-sm text-left-xs">
          <div class="row">
            <div class="col-md-6 padding-xs-vr">
              <div class="row">
                <div [ngClass]="{'has-error': getControlErrors('idMedioDifusion')}">
                  <label class="col-md-6 control-label text-right-lg text-right-md text-left-sm text-left-xs" for="idMedioDifusion">¿Por qu&eacute; medio te
                    enteraste
                    del COLSAN?: *</label>
                  <div class="col-md-6">
                    <select name="idMedioDifusion" id="idMedioDifusion"
                            formControlName="idMedioDifusion" class="form-control" (change)="mostrarCampoOtro()">
                      <option value="" disabled selected>Selecciona...</option>
                      <option *ngFor="let medioDifucion of opcionesCatMediosInteres" value="{{medioDifucion.id}}">{{medioDifucion.text}}</option>
                    </select>
                    <span id="helpBlock3" class="help-block" *ngIf="(getControlErrors('idMedioDifusion'))">
                                            {{errorMessage(getControl('idMedioDifusion'))}}
                                        </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 padding-xs-vr">
              <div class="row">
                <div *ngIf="otro">
                  <div [ngClass]="{'has-error': getControlErrors('auxiliar')}">
                    <label class="col-md-6 control-label text-right-lg text-right-md text-left-sm text-left-xs" for="celular">Otro: *</label>
                    <div class="col-md-6">
                      <input #otroMedio type="text" placeholder="Especifica otro medio de como te enteraste"
                             name="otroMedioDifucion" id="otroMedioDifucion" maxlength="50" formControlName="otroMedioDifucion"
                             class="form-control" (keyup)="actualizarAuxiliar(otroMedio.value)">
                      <span id="helpBlock3" class="help-block" *ngIf="(getControlErrors('auxiliar'))">
                                            {{errorMessage(getControl('auxiliar'))}}
                                        </span>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-12 padding-xs-vr">
          <div class="row">
            <label class="col-md-3 control-label text-right-lg text-right-md text-left-sm text-left-xs">Comentarios:</label>
            <div class="col-md-9">
              <div [ngClass]="{'has-error': getControlErrors('comentario')}">
                                <textarea class="form-control"
                                          placeholder="Comentarios" maxlength="250" formControlName="comentario"
                                          rows="3">
                            </textarea>
                <span id="helpBlock3" class="help-block" *ngIf="(getControlErrors('comentario'))">
                                {{errorMessage(getControl('comentario'))}}
                            </span>
              </div>

            </div>
            <label class="col-md-12 text-right">
              (M&aacute;ximo 250 caracteres)
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
