
<div class="page-header">
  <div class="row">
    <div class="col-md-12 text-center text-left-sm">
      <h1>Solicitud de movilidad</h1>
      <p>
        <small>Solicitud de movilidad.</small>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel ">
      <div class="panel-body">
        <div class="row">

          <div class="col-md-8">
            <div class="row">

              <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
                <label >Promoci&oacute;n:</label>
                <select #promocionSelection (change)="valorPromocion=promocionSelection.value" class="form-control">
                  <option value="" selected> Selecciona...</option>
                  <option *ngFor="let promocionItem of opcionesPromocion" [value]="promocionItem.id">
                    {{promocionItem.text}}
                  </option>
                </select>
              </div>

              <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
                <label >Modalidad:</label>
                <select #movilidadSelection (change)="valorMovilidad=movilidadSelection.value" class="form-control">
                  <option value="" selected> Selecciona...</option>
                  <option *ngFor="let movilidadItem of opcionesSelectModalidad" [value]="movilidadItem.id">
                    {{movilidadItem.text}}
                  </option>
                </select>
              </div>

            </div>
          </div>

          <div class="col-md-4 col-sm-12 text-right padding-sm-vr no-padding-b">
            <button class="btn" [disabled]="!valorPromocion && !valorMovilidad" (click)="buscarCriteriosCabezera(promocionSelection.value, movilidadSelection.value)">
              Buscar <span class="fa fa-search"></span>
            </button>
          </div>
        </div>
      </div>
      <label class="text-left">
        *Buscar por promoci&oacute;n y/ó modalidad.
      </label>
    </div>
  </div>


  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">

            <div class="col-md-10"><!-- cont-botones-->
              <div class="text-right">
                <button class="btn btn-labeled btn-default form-group-margin" *ngIf="mostrarBotones()" (click)="modalDetalleMovilidad()"><span class="btn-label icon fa fa-eye"></span>Detalle</button>
              </div>
            </div> <!-- cont-botones-->
            ​
            <div class="col-md-2 form-group-margin"> <!-- cont-buscar-->
              <div class="row">
                <div class="col-md-12 pull-right text-right">
                  <div class="row">
                    <input
                      #filtro
                      type="text"
                      class="form-control"
                      id="buscar"
                      placeholder="Buscar..."
                      (keyup.enter)="filtroChanged(filtro.value)"
                    >
                  </div>
                </div>
              </div>
            </div> <!-- cont-buscar-->
          </div>
        </div>

        <div class="table-default">
          <div role="grid" class="dataTables_wrapper form-inline">
            <div class="table-header clearfix">
              <div class="table-caption">Lista de solicitudes de movilidad</div>
              <div class="DT-lf-right">
                <div class="DT-per-page">
                  <div class="dataTables_length" id="jq-datatables-example_length">
                    <label>
                      Registros por página:
                      <select
                        #limiteControl
                        name="jq-datatables-example_length"
                        aria-controls="jq-datatables-example"
                        class="form-control input-sm"
                        (change) = "setLimite(limiteControl.value)"
                      >
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table cellpadding="0" cellspacing="0" border="0"
                     class="table table-striped table-bordered dataTable no-footer"
                     id="jq-datatables-example" aria-describedby="jq-datatables-example_info">
                <thead>
                <tr role="row">
                  <th
                    *ngFor="let columna of columnas"
                    [ngClass]="{
							        		'sorting_desc': columna.sort === 'desc',
							        		'sorting_asc': columna.sort === 'asc',
							        		'sorting': columna.sort !== false
							        	}"
                    (click)="sortChanged(columna)"
                  >
                    {{columna.titulo}}
                  </th>
                </tr>
                </thead>
                <tbody *ngIf = "registros.length === 0">
                <tr class="gradeA odd">
                  <th class="text-center" colspan="5">
                    Cambie sus criterios de búsqueda
                  </th>
                </tr>
                </tbody>
                <tbody *ngIf = "registros.length !== 0">
                <tr
                  *ngFor="let registro of registros"
                  class="gradeA odd"
                  [ngClass]="{
                        'seleccionado': rowSeleccionado(registro)
                      }"
                  (click) = "rowSeleccion(registro)"
                >
                  <td class="center">{{registro?.estudiante?.matricula?.matriculaCompleta}}</td>
                  <td class="center">{{registro?.estudiante?.datosPersonales?.getNombreCompleto()}}</td>
                  <td class="center">{{registro?.tipoMovilidad?.valor}}</td>
                  <td class="center">{{registro?.institucionInteres ? registro?.institucionInteres : registro?.convenio?.institucion?.nombre ? registro?.convenio?.institucion?.nombre : registro?.lugar }}</td>
                  <td class="center">{{registro?.estatus?.valor}}</td>
                </tr>
                </tbody>
                <td class="center">
              </table>
            </div>
            <div class="table-footer clearfix">
              <div class="DT-pagination" *ngIf="isSetPaginacion()">
                <div class="dataTables_paginate paging_simple_numbers">
                  <pagination
                    class="pagination"
                    [totalItems] = "paginacion.registrosTotales"
                    [itemsPerPage] = "limite"
                    [maxSize] = "maxSizePags"
                    [rotate]="false"
                    [(ngModel)] = "paginaActual"
                    (pageChanged) = "cambiarPagina($event)"
                    previousText = "Anterior"
                    nextText = "Siguiente"
                  >
                  </pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--fin del row-->
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" class="modal-default" #detalleMovilidad  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarModalDetalleMov()">×</button>
    <div  *ngIf="entidadDetalleMoilidad?.tipoMovilidad?.id == 1">
      <h4 class="modal-title">Detalle de solicitud de movilidad curricular</h4>
    </div>
    <div  *ngIf="entidadDetalleMoilidad?.tipoMovilidad?.id == 2">
      <h4 class="modal-title">Detalle de solicitud de movilidad en estancia de investigación</h4>
    </div>
    <div  *ngIf="entidadDetalleMoilidad?.tipoMovilidad?.id == 3">
      <h4 class="modal-title">Detalle de solicitud de movilidad por trabajo de campo</h4>
    </div>
  </modal-header>
  <modal-body>
    <tabset>
      <tab heading="Detalle de solicitud">
        <div class="panel-body tab-content tab-content-bordered">
          ​
          <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="row">
                <div class="col-md-6 form-group-margin">
                  <div class="row">
                    <dl class="form-horizontal">
                      <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Alumno:</dt>
                      <dd class="col-md-6">{{entidadDetalleMoilidad?.estudiante?.datosPersonales?.getNombreCompleto()}}</dd>
                    </dl>
                  </div>
                </div>
                <div class="col-md-6 form-group-margin">
                  <div class="row">
                    <dl class="form-horizontal">
                      <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Programa docente:</dt>
                      <dd class="col-md-6">{{entidadDetalleMoilidad?.estudiante?.promocion?.programaDocente?.descripcion}}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="row">
                <!--<div class="col-md-6 form-group-margin">
                  <div class="row">
                    <dl class="form-horizontal">
                      <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Modalidad:</dt>
                      <dd class="col-md-6">{{entidadDetalleMoilidad?.tipoMovilidad?.valor}}</dd>
                    </dl>
                  </div>
                </div>-->
                <div  *ngIf="entidadDetalleMoilidad?.tipoMovilidad?.id == 1">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                      <div class="col-md-6 form-group-margin">
                        <div class="row">
                          <dl class="form-horizontal">
                            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Convenio:</dt>
                            <dd class="col-md-6">{{entidadDetalleMoilidad?.convenio?.descripcion}}</dd>
                          </dl>
                        </div>
                      </div>
                      <div class="col-md-6 form-group-margin">
                        <div class="row">
                          <dl class="form-horizontal">
                            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">País:</dt>
                            <dd class="col-md-6">{{entidadDetalleMoilidad?.pais?.valor}}</dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                      <div class="col-md-6 form-group-margin">
                        <div class="row">
                          <dl class="form-horizontal">
                            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Institución en la que está interesado:</dt>
                            <dd class="col-md-6">{{entidadDetalleMoilidad?.institucionInteres ? entidadDetalleMoilidad?.institucionInteres : entidadDetalleMoilidad?.convenio?.institucion?.nombre ? entidadDetalleMoilidad?.convenio?.institucion?.nombre : entidadDetalleMoilidad?.lugar }}</dd>
                          </dl>
                        </div>
                      </div>
                      <div class="col-md-6 form-group-margin">
                        <div class="row">
                          <dl class="form-horizontal">
                            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Materia:</dt>
                            <dd class="col-md-6">{{entidadDetalleMoilidad?.materia?.descripcion}}</dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                      <div class="col-md-6 form-group-margin">
                        <div class="row">
                          <dl class="form-horizontal">
                            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Materia con la que convalida:</dt>
                            <dd class="col-md-6">{{entidadDetalleMoilidad?.materiaCursar}}</dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                      <div class="col-md-6 form-group-margin">
                        <div class="row">
                          <dl class="form-horizontal">
                            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Nombre del contacto:</dt>
                            <dd class="col-md-6">{{entidadDetalleMoilidad?.nombreContacto}}</dd>
                          </dl>
                        </div>
                      </div>
                      <div class="col-md-6 form-group-margin">
                        <div class="row">
                          <dl class="form-horizontal">
                            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Puesto del contacto:</dt>
                            <dd class="col-md-6">{{entidadDetalleMoilidad?.puestoContacto}}</dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div  *ngIf="entidadDetalleMoilidad?.tipoMovilidad?.id == 2">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                      <div class="col-md-6 form-group-margin">
                        <div class="row">
                          <dl class="form-horizontal">
                            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Estancia:</dt>
                            <dd class="col-md-6">{{entidadDetalleMoilidad?.estancia}}</dd>
                          </dl>
                        </div>
                      </div>
                      <div class="col-md-6 form-group-margin">
                        <div class="row">
                          <dl class="form-horizontal">
                            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Convenio institucional:</dt>
                            <dd class="col-md-6">{{entidadDetalleMoilidad?.convenio?.descripcion}}</dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                      <div class="col-md-6 form-group-margin">
                        <div class="row">
                          <dl class="form-horizontal">
                            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Institución en la que está interesado:</dt>
                            <dd class="col-md-6">{{entidadDetalleMoilidad?.institucionInteres ? entidadDetalleMoilidad?.institucionInteres : entidadDetalleMoilidad?.convenio?.institucion?.nombre ? entidadDetalleMoilidad?.convenio?.institucion?.nombre : entidadDetalleMoilidad?.lugar }}</dd>
                          </dl>
                        </div>
                      </div>
                      <div class="col-md-6 form-group-margin">
                        <div class="row">
                          <dl class="form-horizontal">
                            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Profesor anfitrión:</dt>
                            <dd class="col-md-6">{{entidadDetalleMoilidad?.nombreContacto}}</dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div  *ngIf="entidadDetalleMoilidad?.tipoMovilidad?.id == 3">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                      <div class="col-md-6 form-group-margin">
                        <div class="row">
                          <dl class="form-horizontal">
                            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Trabajo de campo:</dt>
                            <dd class="col-md-6">{{entidadDetalleMoilidad?.trabajoCampo}}</dd>
                          </dl>
                        </div>
                      </div>
                      <div class="col-md-6 form-group-margin">
                        <div class="row">
                          <dl class="form-horizontal">
                            <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Lugar:</dt>
                            <dd class="col-md-6">{{entidadDetalleMoilidad?.lugar}}</dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div  *ngIf="entidadDetalleMoilidad?.tipoMovilidad?.id == 2 || entidadDetalleMoilidad?.tipoMovilidad?.id == 3">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                  <div class="col-md-6 form-group-margin">
                    <div class="row">
                      <dl class="form-horizontal">
                        <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Inicio:</dt>
                        <dd class="col-md-6">{{entidadDetalleMoilidad?.getFechaInicioFormato()}}</dd>
                      </dl>
                    </div>
                  </div>
                  <div class="col-md-6 form-group-margin">
                    <div class="row">
                      <dl class="form-horizontal">
                        <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Fin:</dt>
                        <dd class="col-md-6">{{entidadDetalleMoilidad?.getFechaFinFormato()}}</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 form-group-margin">
              <div class="row">
                <dl class="form-horizontal">
                  <dt class="col-md-3 text-right-lg text-right-md text-left-sm text-left-xs">Comentarios:</dt>
                  <dd class="col-md-9">{{entidadDetalleMoilidad?.comentario ? entidadDetalleMoilidad?.comentario : "Sin comentarios"}}</dd>
                </dl>
              </div>
            </div>



          </div>
        </div>
      </tab>
      <tab heading="Documentaci&oacute;n">
        <div class="panel-body tab-content tab-content-bordered">​
          <div id="actionbuttons" class="text-right">
            <button *ngIf="registroSeleccionadoDocumento" (click)="descargarArchivo(registroSeleccionadoDocumento?.archivo?.id)" class="btn btn-warning" type="button"><i class="fa fa-download"></i>&nbsp;&nbsp;Descargar</button>
          </div>
          <div class="table-default">
            <div class="table-responsive">
              <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer" id="jq-datatables-example" aria-describedby="jq-datatables-example_info">
                <thead>
                <tr role="row">
                  <th
                    *ngFor="let columna of columnasDetalle"
                    [ngClass]="{
							        		'sorting_desc': columna.sort === 'desc',
							        		'sorting_asc': columna.sort === 'asc',
							        		'sorting': columna.sort !== false
							        	}"
                    (click)="sortChanged(columna)"
                  >
                    {{columna.titulo}}
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let registro of registrosDocumentos"
                  class="gradeA odd"
                  [ngClass]="{
                        'seleccionado': rowSeleccionadoDetalle(registro)
                      }"
                  (click) = "rowSeleccionDetalle(registro)"
                >
                  <td class="center">{{registro?.tipoDocumento?.valor}}</td>
                  <td class="center">{{registro?.getFechaFinFormato()}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div id="actionbuttons" class="text-right" *ngIf="solicitudActiva">
              <button class="btn btn-danger" type="button" (click)="modalRechazarSolicitud()"><i class="fa fa-times"></i>&nbsp;&nbsp;Rechazar</button>
              <button class="btn btn-success" type="button" (click)="modalConfirmarSolicitud()"><i class="fa fa-check"></i>&nbsp;&nbsp;Aceptar </button>
            </div>

          </div>
        </div>
      </tab>

    </tabset>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="cerrarModalDetalleMov()"><i class="fa fa-close"></i> Cerrar</button>

  </modal-footer>
</modal>
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" class="modal-alert modal-success" #confirmarAceptarSolMovilidad  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarModalConfirmarSolicitud()" aria-hidden="true">×</button>
    <i class="fa fa-check-circle"></i>
  </modal-header>
  <modal-body>
    <form class="form-horizontal" [formGroup]="formularioConfirmaar">
      <div class="col-md-12 text-center form-group-margin">
        <div class="row">
          <span><strong>¿Est&aacute;s seguro que deseas aceptar la solicitud de movilidad?</strong></span>
        </div>
      </div>

      <div class="col-md-12 text-center form-group-margin">
        <input id="idEstatus" name="idEstatus" ngControl="idEstatus" class="form-control" type="hidden" value="102">

        <label class="col-md-12 text-center">Nombre del interesado: </label>
        <h4 class="col-md-12 text-center"> {{alumnoSolicitud?.estudiante?.datosPersonales?.getNombreCompleto()}}</h4>

      </div>

      <div [ngClass]="{'has-error': getControlModalConfirmar('comentarioTutor')}">
        <div class="row">
          <div class=" col-md-12 padding-xs-vr">
            <div class="row">
              <label for="comentarios" class="col-md-3 control-label text-left">Agregar comentarios:*</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-12 padding-xs-vr">
            <div class="row">
              <div class="col-md-12">
                <textarea id="comentarioTutor" name="comentarioTutor" #comentarioTutor formControlName="comentarioTutor"
                          ngControl="comentarioTutor" class="form-control" rows="5">
                </textarea>
                <span id="helpBlock1" class="help-block" *ngIf="(getControlErrorsModalConfirmar('comentarioTutor'))">
                    {{errorMessage(getControlModalConfirmar('comentarioTutor'))}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </modal-body>
  <modal-footer>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <button type="button" class="btn btn-danger" (click)="cerrarModalConfirmarSolicitud()">No</button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <button type="button" class="btn btn-success" (click)="enviarFormularioModalConfirmar()">Sí</button>
    </div>
  </modal-footer>
</modal>
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" class="modal-alert modal-danger" #rechazarSolMovilidad  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarModalRechazarSolicitud()" aria-hidden="true">×</button>
    <i class="fa fa-times-circle"></i>
  </modal-header>
  <modal-body>
    <form class="form-horizontal" [formGroup]="formularioRechazar">
      <div class="col-md-12 col-sm-12 col-xs-12 modal-title">¿Est&aacute;s seguro que deseas rechazar la solicitud de movilidad?</div>

      <input id="idEstatus" name="idEstatus"
             ngControl="idEstatus" class="form-control" type="hidden" value="102">
      <label class="col-md-12 text-center">Nombre del interesado: </label>
      <h4 class="col-md-12 text-center"> {{alumnoSolicitud?.estudiante?.datosPersonales?.getNombreCompleto()}}</h4><br/>


      <div class="row">
        <div [ngClass]="{'has-error': getControlErrorsModalRechazar('comentarioTutor')}">
          <div class=" col-md-12 padding-xs-vr">
            <div class="row">
              <label for="comentarioTutor" class="col-md-3 control-label text-left">Agregar comentarios:*</label>
            </div>
          </div>
          <div class=" col-md-12 padding-xs-vr">
            <div class="row">
              <div class="col-md-12">
                <textarea id="comentarioTutor" name="comentarioTutor" #comentarioTutor formControlName="comentarioTutor"
                          ngControl="comentarioTutor" class="form-control" rows="5">
                </textarea>
                <span id="helpBlock1" class="help-block" *ngIf="(getControlErrorsModalRechazar('comentarioTutor'))">
                    {{errorMessage(getControlModalRechazar('comentarioTutor'))}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </modal-body>
  <modal-footer>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <button type="button" class="btn btn-danger" (click)="cerrarModalRechazarSolicitud()">No</button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <button type="button" class="btn btn-success" (click)="enviarFormularioModalRechazar()">Sí</button>
    </div>
  </modal-footer>
</modal>

