<div class="page-header">
  <div class="row">
    <div class="col-md-12 text-center text-left-sm">
      <h1>Administraci&oacute;n de cat&aacute;logos</h1>
      <p>
        <small>Cat&aacute;logo de documentos para inducci&oacute;n</small>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body">

        <div class="row">
          <div class="col-md-12">

            <div class="col-md-10"><!-- cont-botones-->
              <div class="text-right">
                <button *ngIf="ocultarOpcionActivar()" (click)="cambiarEstatus('activo')"
                        class="btn btn-labeled btn-success form-group-margin"><span
                  class="btn-label icon fa fa-plus-circle"></span>Activar
                </button>
                <button *ngIf="ocultarOpcionDesactivar()" (click)="cambiarEstatus('inactivo')"
                        class="btn btn-labeled btn-danger form-group-margin"><span
                  class="btn-label icon fa fa-minus-circle"></span>Desactivar
                </button>
                <button *ngIf="registroSeleccionado" class="btn btn-labeled btn-warning form-group-margin"
                        (click)="modalAgregarActualizarInduccion('editar')"><span
                  class="btn-label icon fa fa-pencil-square-o"></span>Editar
                </button>
                <button *ngIf="registroSeleccionado" class="btn btn-labeled btn-default form-group-margin"
                        (click)="  modalDetalles()"><span class="btn-label icon fa fa-eye"></span>Detalle
                </button>
                <button class="btn btn-labeled btn-success form-group-margin"
                        (click)="modalAgregarActualizarInduccion()"><span
                  class="btn-label icon fa fa-plus"></span>Agregar
                </button>
                <div class="btn-group form-group-margin" dropdown>
                  <button id="split-button" type="button" class="btn btn-conacyt dropdown-toggle">
                    <span class="btn-label icon fa fa-download"></span> Exportar </button>
                  <button type="button" class="btn btn-conacyt dropdown-toggle" dropdownToggle>
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li role="menuitem"><a class="dropdown-item" (click)="exportar('Excel')" >Exportar a Excel</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem" ><a class="dropdown-item" (click)="exportar('PDF')" >Exportar a PDF</a></li>
                  </ul>
                </div>
<!--                <div class="btn-group form-group-margin" dropdown>
                  <button id="split-button" type="button" class="btn btn-conacyt"><span
                    class="btn-label icon fa fa-download"></span> Exportar
                  </button>
                  <button type="button" class="btn btn-conacyt dropdown-toggle" dropdownToggle>
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                    <li role="menuitem">
                      <a
                        class="dropdown-item"
                        (click)="exportar('Excel')"
                      >
                        Exportar a Excel
                      </a>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem">
                      <a
                        class="dropdown-item"
                        (click)="exportar('PDF')"
                      >
                        Exportar a PDF
                      </a>
                    </li>
                  </ul>
                </div>-->
              </div>
            </div> <!-- cont-botones-->
            ​
            <div class="col-md-2 form-group-margin"> <!-- cont-buscar-->
              <div class="row">
                <div class="col-md-12 pull-right text-right">
                  <div class="row">
                    <input
                      #filtro
                      type="text"
                      class="form-control"
                      id="buscar"
                      placeholder="Buscar..."
                      (keyup.enter)="filtroChanged(filtro.value)"
                    >
                  </div>
                </div>
              </div>
            </div> <!-- cont-buscar-->
          </div>
        </div>

        <div class="col-lg-12">
          <div class="row">
            <div class="table-default">
              <div role="grid" class="dataTables_wrapper form-inline">
                <div class="table-header clearfix">
                  <div class="table-caption">Lista de documentos para inducci&oacute;n</div>

                  <div class="DT-lf-right">
                    <div class="DT-per-page">
                      <div class="dataTables_length" id="jq-datatables-example_length">
                        <label>Registros por página:
                          <select #limiteControl name="jq-datatables-example_length"
                                  aria-controls="jq-datatables-example"
                                  class="form-control input-sm"
                                  (change)="setLimite(limiteControl.value)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                        </label>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="table-responsive">
                  <table cellpadding="0" cellspacing="0" border="0"
                         class="table table-striped table-bordered dataTable no-footer"
                         id="jq-datatables-example" aria-describedby="jq-datatables-example_info">
                    <thead>
                    <tr role="row">
                      <th
                        *ngFor="let columna of columnas"
                        [ngClass]="{
                     							        		'sorting_desc': columna.sort === 'desc',
                     							        		'sorting_asc': columna.sort === 'asc',
                     							        		'sorting': columna.sort !== false
                     							        	}"
                        (click)="sortChanged(columna)"
                      >
                        {{columna.titulo}}
                      </th>
                    </tr>
                    </thead>
                    <tbody *ngIf="registros === 0">
                    <tr class="gradeA odd">
                      <th class="text-center" colspan="5">
                        No hay Registros
                      </th>
                    </tr>
                    </tbody>
                    <tbody *ngIf="registros !== 0">

                    <tr class="gradeA odd" *ngFor="let registro of registros"
                        [ngClass]="{
       							        		          'seleccionado': rowSeleccionado(registro)}"
                        (click)="rowSeleccion(registro)"
                    >
                      <td class="center">{{registro?.nombre}}</td>
                      <td class="center">{{registro?.tema?.valor}}</td>
                      <td class="center">{{obtenerFecha(registro?.ultimaActualizacion)}}</td>
                      <td class="center">{{registro?.estatus?.valor}}</td>
                    </tr>

                    </tbody>
                  </table>
                </div>

                <div class="table-footer clearfix">
                  <div class="DT-pagination" *ngIf="isSetPaginacion()">
                    <div class="dataTables_paginate paging_simple_numbers">
                      <pagination
                        class="pagination"
                        [totalItems]="paginacion.registrosTotales"
                        [itemsPerPage]="limmite"
                        [maxSize] = "maxSizePags"
                        [rotate]="false"
                        [(ngModel)]="paginaActual"
                        (pageChanged)="cambiarPagina($event)"
                        previousText="Anterior"
                        nextText="Siguiente"
                      >
                      </pagination>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- MODAL DETALLE INDUCCION -->
<modal [animation]="animation" [keyboard]="keyboard" 
  [backdrop]="backdrop" #modalDetalleInduccion>
  <modal-header>
    <button type="button" class="close" (click)="cerrarModalDetalleInduccion()">
        ×
    </button>
    <h4 class="modal-title" id="myModalLabel">
        Detalle de Inducci&oacute;n
    </h4>
  </modal-header>
  <modal-body>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
              <div class="row">    
                  <div class="col-md-6 form-group-margin">
                      <div class="row">
                          <dl class="form-horizontal">
                              <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Nombre del documento:</dt>
                              <dd class="col-md-6">{{entidadInduccion?.nombre}}</dd>
                          </dl>
                      </div>
                  </div>
                  <div class="col-md-6 form-group-margin">
                      <div class="row">
                          <dl class="form-horizontal">
                              <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Tema: </dt>
                              <dd class="col-md-6">{{entidadInduccion?.tema?.valor}}</dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-12">
              <div class="row">  
                  <div class="col-md-6 form-group-margin">
                      <div class="row">
                          <dl class="form-horizontal">
                              <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Servicios institucionales: </dt>
                              <dd class="col-md-6">{{entidadInduccion?.subtema?.valor}}</dd>
                          </dl>
                      </div>
                  </div>
                  <div class="col-md-6 form-group-margin">
                      <div class="row">
                          <dl class="form-horizontal">
                              <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Estatus:</dt>
                              <dd class="col-md-6">{{entidadInduccion?.estatus?.valor}}</dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </div>

        <div class="col-md-12">
             <h6 class="form-heading text-muted text-semibold text-sm">Documentos</h6>
        </div>
         <div class="col-md-12">
            <div class="panel" style="width:100%;height: 200px; overflow-y: scroll; margin: auto">
                <div class="panel-body">
                    <div class="row">
                       <div class="col-md-3 text-center"  *ngIf="entidadInduccion?.idArchivo?.id">
                            <div class="thumbnail">
                                <i class="fa fa-file-text-o fa-5x"></i>
                                <h5 class="">{{entidadInduccion?.idArchivo?.nombre}}</h5>
                                <hr>
                                <button class="btn  btn-warning fa fa-download left" (click)="descargarArchivo(entidadInduccion?.idArchivo?.id)"></button>
                                <button class="btn  btn-default fa fa-eye right" (click)="verArchivo(entidadInduccion?.idArchivo?.id)"></button>
                            </div>
                        </div>      
                    </div> 
                </div>
            </div>
          </div> <!-- col-md-12 -->
        </div> 
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="cerrarModalDetalleInduccion()"><i class="fa fa-close"></i> Cerrar</button>
  </modal-footer>
</modal>
<!-- FIN DEL MODAL DETALLE INDUCCION -->

<!-- INCION DEL MODAL AGREGAR EDITAR INDUCCION -->
<modal [animation]="animation" [keyboard]="keyboard" 
  [backdrop]="backdrop" #modalAgregarEditarInduccion>
  <modal-header>
      <button type="button" class="close" (click)="cerrarModalAgregarEditarInduccion()">
        ×
    </button>
    <h4 class="modal-title">{{edicionFormulario ? 'Editar inducción' : ' Agregar inducción'}}</h4>
  </modal-header>
  <modal-body>
    <form (ngSubmit)="guardarIdioma()" [formGroup]="formularioInduccion">
        <div class="row">
            <div class="col-md-12">
                <h6 class="form-heading text-muted text-semibold text-sm">Inducci&oacute;n</h6>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div [ngClass]="{'has-error': getControlErrors('nombre')}">
                        <div class=" col-md-6 padding-xs-vr">
                            <div class="row">
                                <label for="nombre" class="col-md-6 control-label text-left">Nombre del documento:
                                    *</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="nombre" name="nombre" maxlength="50"
                                           ngControl="nombre" placeholder="" formControlName="nombre">
                                <span id="helpBlock1"
                                      class="help-block"
                                      *ngIf="(getControlErrors('nombre'))">
                                    {{errorMessage(getControl('nombre'))}}
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div [ngClass]="{'has-error': getControlErrors('idTema')}">
                        <div class=" col-md-6 padding-xs-vr">
                            <div class="row">
                                <label for="idTema" class="col-md-6 control-label text-left">Tema: *</label>
                                <div class="col-md-6">
                                    <select class="form-control" name="idTema" id="idTema" #temaInduccion formControlName="idTema"
                                            (change)="getCatalogoSubTema(temaInduccion.value)" ngControl="idTema">
                                        <option value="" disabled selected>Selecciona...</option>
                                        <option *ngFor="let tema of opcionSelectTema" value="{{tema.id}}">{{tema.text}}
                                        </option>
                                    </select>

                                    <span id="helpBlock3"
                                          class="help-block"
                                          *ngIf="(getControlErrors('idTema'))">
                                        {{errorMessage(getControl('idTema'))}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--col-md-12 -->


            <div class="col-md-12">
                <div class="row">
                    <div [ngClass]="{'has-error': getControlErrors('idEstatus')}">
                        <div class=" col-md-6 padding-xs-vr">
                            <div class="row">
                                <label for="idEstatus" class="col-md-6 control-label text-left">Estatus: *</label>
                                <div class="col-md-6">
                                    <select id="idEstatus" name="idEstatus"
                                            ngControl="idEstatus" class="form-control" formControlName="idEstatus">
                                        <option value="" disabled selected>Selecciona...</option>
                                        <option *ngFor="let estatusDocumento of opcionSelectEstatus"
                                                value="{{estatusDocumento.id}}">{{estatusDocumento.text}}
                                        </option>
                                    </select>
                                    <span id="helpBlock2"
                                          class="help-block"
                                          *ngIf="(getControlErrors('idEstatus'))">
                                        {{errorMessage(getControl('idEstatus'))}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div [ngClass]="{'has-error': getControlErrors('idSubtema')}">
                        <div class=" col-md-6 padding-xs-vr">
                            <div class="row">
                                <label for="idSubtema" class="col-md-6 control-label text-left">Subtema: *</label>
                                <div class="col-md-6">
                                    <select id="idSubtema" class="form-control" ngControl="idSubtema" formControlName="idSubtema">
                                        <option value="" disabled selected>Selecciona...</option>
                                        <option *ngFor="let selectSubtema of opcionSelectSubTema"
                                                value="{{selectSubtema.id}}">{{selectSubtema.text}}
                                        </option>
                                    </select>
                                    <span id="helpBlock2"
                                          class="help-block"
                                          *ngIf="(getControlErrors('idSubtema'))">
                                          {{errorMessage(getControl('idSubtema'))}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- col-md-12 -->

        </div>
        <div *ngIf="edicionFormulario">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="form-heading text-muted text-semibold text-sm">Documentos</h6>
                    <div class="row text-right-lg text-left-md text-left-sm text-left-xs">
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <button class="btn btn-success" style="display:none" type="button"
                                        (click)="agregarDocumento()"><i class="fa fa-plus"></i> Agregar
                                </button>
                            </div>
                            <br>
                            <br>
                        </div>

                    </div>
                    <style>
                        .dropzone-custome [type="file"] {
                            cursor: pointer;
                            position: absolute;
                            opacity: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                        }
                    </style>
                    <input type='hidden' id='idArchivo' class="form-control" ngControl='idArchivo'
                           value='{{idArchivo}}'>
                    <div class="row-centered">
                        <div class="col-md-6">
                            <div id="dropzonejs-example" class="dropzone-box dz-clickable dropzone-custome"
                                 style="min-height: 185px;">
                                <div class="dz-default dz-message " ngFileSelect [options]="options"
                                     (onUpload)="handleDropUpload($event)">
                                    <i class="fa fa-cloud-upload"></i>
                                    Suelte el archivo aqu&iacute;<br><span class="dz-text-small">o da clic para subir manualmente</span>
                                </div>
                                <input type="file" ngFileSelect [options]="options" (onUpload)="handleBasicUpload($event)">
                            </div>
                            <div class="progress">
                                <div
                                        *ngIf="enableBasic()"
                                        class="progress-bar"
                                        role="progressbar"
                                        aria-valuenow="basicProgress"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        [style.width]="basicProgress + '%'">
                                    {{basicProgress}}%
                                </div>

                                <div
                                        *ngIf="enableDrop()"
                                        class="progress-bar"
                                        role="progressbar"
                                        aria-valuenow="dropProgress"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        [style.width]="dropProgress + '%'">
                                    {{dropProgress}}%
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-6 padding-xs-vr">
                            <div class="row">
                                <label for="nombreArchivo" class="col-md-6 control-label text-left">Nombre del
                                    documento:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="nombreArchivo" name="nombreArchivo"
                                           maxlength="50" formControlName="nombreArchivo"
                                           ngControl="nombreArchivo" placeholder="" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
  </modal-body>
  <modal-footer>
    <button class="btn btn-default" type="button" (click)="cerrarModalAgregarEditarInduccion()"><i class="fa fa-times"></i> Cancelar</button>
    <button class="btn btn-success" type="button" (click)="guardarInduccion()"><i class="fa fa-check"></i> Guardar
    </button>
  </modal-footer>
</modal>
<!-- FIN DE LA SECCION AGREGAR - EDITAR INDUCCION -->
