<div class="page-header">
  <div class="row">
    <div class="col-md-12 text-center text-left-sm">
      <h1>Interprogramas</h1>
      <p><small>Solicitudes de interprogramas.</small></p>
    </div>
  </div>
</div>

<div class="row">



  <div class="col-md-12">
    <div class="panel ">
      <div class="panel-body">
        <div class="row">

          <div class="col-md-8">
            <div class="row">

              <div class="col-md-4 col-sm-6 padding-sm-vr no-padding-b">
                <label >Periodos:</label>
                <select #periodoInterprogramaSelection class="form-control">
                  <option value="" disabled selected> Selecciona...</option>
                  <option *ngFor="let periodo of periodos" [value]="periodo.id">
                    {{periodo.text}}
                  </option>
                </select>
              </div>

            </div>
          </div>

          <div class="col-md-4 col-sm-12 text-right padding-sm-vr no-padding-b">
            <button class="btn" (click)="buscarCriteriosCabezera(periodoInterprogramaSelection.value)">
              Buscar <span class="fa fa-search"></span>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">

            <div class="col-md-10"><!-- cont-botones-->
              <div class="text-right" *ngIf="mostrarBotonDetalle">
                <a (click)='modalDetalle()' class="btn btn-labeled btn-default form-group-margin"><span class="btn-label icon fa fa-eye"></span>Detalle</a>
              </div>
            </div> <!-- cont-botones-->
            ​
            <div class="col-md-2 form-group-margin"> <!-- cont-buscar-->
              <div class="row">
                <div class="col-md-12 pull-right text-right">
                  <div class="row">
                    <input
                      #filtro
                      type="text"
                      class="form-control"
                      id="buscar"
                      placeholder="Buscar..."
                      (keyup.enter)="filtroChanged(filtro.value)"
                    >
                  </div>
                </div>
              </div>
            </div> <!-- cont-buscar-->
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div role="grid" id="jq-datatables-example_wrapper" class="dataTables_wrapper form-inline no-footer table-responsive">
              <div class="table-header clearfix">
                <div class="table-caption">Lista de interprogramas</div>
                <div class="DT-lf-right">
                  <div class="DT-per-page">
                    <div class="dataTables_length" id="jq-datatables-example_length">
                      <label>Registros por página:
                        <select
                          #limiteControl
                          name="jq-datatables-example_length"
                          aria-controls="jq-datatables-example"
                          class="form-control input-sm"
                          (change)="setLimite(limiteControl.value)"
                        >
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer" id="jq-datatables-example" aria-describedby="jq-datatables-example_info">
                <thead>
                <tr role="row">
                  <th
                    *ngFor="let columna of columnas"
                    [ngClass]="{
							        		'sorting_desc': columna.sort === 'desc',
							        		'sorting_asc': columna.sort === 'asc',
							        		'sorting': columna.sort !== false
							        	}"
                    (click)="sortChanged(columna)"
                  >
                    {{columna.titulo}}
                  </th>
                </tr>
                </thead>
                <tbody *ngIf = "registros.length === 0">
                <tr class="gradeA odd">
                  <th class="text-center" colspan="5">
                    No hay Registros
                  </th>
                </tr>
                </tbody>
                <tbody *ngIf = "registros.length !== 0">
                <tr class="gradeA odd" *ngFor="let registro of registros"
                    [ngClass]="{'seleccionado': rowSeleccionado(registro)}"
                    (click) = "rowSeleccion(registro)"
                >
                  <td class="text-center">{{registro?.estudiante.matricula?.matriculaCompleta}}</td>
                  <td class="text-center">{{registro?.estudiante.getNombreCompleto()}}</td>
                  <td class="text-center">{{registro?.materiaCambiar?.materiaImpartida?.cursoOptativo?.descripcion}}</td>
                  <td class="text-center">{{registro?.materiaCursar?.materia?.descripcion}}</td>
                  <td class="text-center">{{registro?.estatusDirector?.valor}}</td>
                  <td class="text-center" *ngIf="coordinador">{{registro?.estatus?.valor}}</td>
                  <td class="text-center" *ngIf="coordinador">{{registro?.estatusCoordinadorMovilidad?.valor}}</td>
                </tr>
                </tbody>
              </table>
              <div class="table-footer clearfix">
                <div class="DT-pagination">
                  <div class="DT-pagination" *ngIf="isSetPaginacion()">
                    <div class="dataTables_paginate paging_simple_numbers">
                      <pagination
                        class="pagination"
                        [totalItems]="paginacion.registrosTotales"
                        [itemsPerPage]="limite"
                        [(ngModel)]="paginaActual"
                        (pageChanged)="cambiarPagina($event)"
                        previousText="Anterior"
                        nextText="Siguiente"
                      >
                      </pagination>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" class="modal-default" #detalleInterprogramaProf  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarDetalleInter()">×</button>
    <h4 class="modal-title">Detalle de interprograma</h4>
  </modal-header>
  <modal-body>
    <div class="row">

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 form-group-margin">
            <div class="row">
              <dl class="form-horizontal">
                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Estudiante:</dt>
                <dd class="col-md-6">{{registroSeleccionado?.estudiante?.datosPersonales?.getNombreCompleto()}}</dd>
              </dl>
            </div>
          </div>
          <div class="col-md-6 form-group-margin">
            <div class="row">
              <dl class="form-horizontal">
                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Matr&iacute;cula:</dt>
                <dd class="col-md-6">{{registroSeleccionado?.estudiante?.matricula?.matriculaCompleta}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 form-group-margin">
            <div class="row">
              <dl class="form-horizontal">
                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Programa docente:</dt>
                <dd class="col-md-6">{{registroSeleccionado?.estudiante.promocion.programaDocente?.descripcion}}</dd>
              </dl>
            </div>
          </div>
          <div class="col-md-6 form-group-margin">
            <div class="row">
              <dl class="form-horizontal">
                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Materia que desea convalidar:</dt>
                <dd class="col-md-6">{{registroSeleccionado?.materiaCambiar?.materiaImpartida?.cursoOptativo?.descripcion}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 form-group-margin">
        <div class="row">
          <dl class="form-horizontal">
            <dt class="col-md-3 text-right-lg text-right-md text-left-sm text-left-xs">Cr&eacute;ditos de la materia que desea convalidar:</dt>
            <dd class="col-md-9">{{registroSeleccionado?.materiaCambiar?.materiaImpartida?.cursoOptativo?.creditos}}</dd>
          </dl>
        </div>
      </div>

      <div class="col-md-12 form-group-margin">
        <div class="row">
          <div class="col-md-6 form-group-margin">
            <div class="row">
              <dl class="form-horizontal">
                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Programa docente de movilidad de la materia que desee cursar:</dt>
                <dd class="col-md-6">{{registroSeleccionado?.programaDocenteCursar?.descripcion}}</dd>
              </dl>
            </div>
          </div>

          <div class="col-md-6 form-group-margin">
            <div class="row">
              <dl class="form-horizontal">
                <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Materia que desea cursar:</dt>
                <dd class="col-md-6">{{registroSeleccionado?.materiaCursar?.materia?.descripcion}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 form-group-margin">
        <div class="row">
          <dl class="form-horizontal">
            <dt class="col-md-3 text-right-lg text-right-md text-left-sm text-left-xs">Créditos de la materia que desea cursar:</dt>
            <dd class="col-md-9">{{registroSeleccionado?.materiaCursar?.cursoOptativo?.creditos}}</dd>
          </dl>
        </div>
      </div>

      <div class="col-md-12">
        <div class="panel" style="width:100%;height: 200px; overflow-y: scroll; margin: auto">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 text-center">
                <div class="thumbnail">
                  <i class="fa fa-file-text-o fa-5x"></i>
                  <h5 class="">Carta de motivos</h5>
                  <hr>
                  <div class="btn-tumbnail btn-group">
                    <button class="btn  btn-warning fa fa-download"
                            (click)="descargarArchivo()"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>

    <button *ngIf="mostrarBotonesDetalle" (click)="denegar()" class="btn btn-danger" type="button">
      <i class="fa fa-minus"></i>&nbsp;&nbsp;Denegar interprograma
    </button>
    <button  *ngIf="mostrarBotonesDetalle" (click)="aceptar()" class="btn btn-success" type="submit">
      <i class="fa fa-plus"></i>&nbsp;&nbsp;Aceptar interprograma
    </button>
    <button (click)="cerrarDetalleInter()" class="btn btn-default" type="button">
      <i class="fa fa-close"></i>&nbsp;&nbsp;Cerrar
    </button>
  </modal-footer>
</modal>
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" class="modal-alert modal-success" #aceptarMovInter  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarModalAceptar()" aria-hidden="true">×</button>
    <i class="fa fa-check-circle"></i>
  </modal-header>
  <modal-body>
    <div class="col-md-12 col-sm-12 col-xs-12 modal-title">¿Est&aacute;s seguro que deseas aceptar la solicitud de interprograma?</div>

    <form class="form-horizontal" [formGroup]="aceptarInterprograma">
      <div [ngClass]="{'has-error': getControlErrorsAceptar('comentarios')}">
        <div class="row">
            <div class=" col-md-12 padding-xs-vr">
              <div class="row">
                <label for="comentarios" class="col-md-3 control-label text-left">Comentarios:*</label>
              </div>
            </div>
            </div>
        <div class="row">
            <div class=" col-md-12 padding-xs-vr">
              <div class="row">
                <div class="col-md-12">
                <textarea id="comentarios" name="comentarios" #comentarios formControlName="comentarios"
                          ngControl="comentarios" class="form-control" rows="5">
                </textarea>
                <span id="helpBlock1" class="help-block" *ngIf="(getControlErrorsAceptar('comentarios'))">
                    {{errorMessage(getControlAceptar('comentarios'))}}
                </span>
                </div>
              </div>
            </div>
          </div>
      </div>

    </form>
  </modal-body>
  <modal-footer>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <button (click)='cerrarModalAceptar()' type="button" class="btn btn-danger" data-dismiss="modal">No</button>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6">
      <button (click)='aceptarSolicitud()' type="button" class="btn btn-success">Sí</button>
    </div>
  </modal-footer>
</modal>
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" class="modal-alert modal-danger" #rechazarMovInter  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarModalRechazar()" aria-hidden="true">×</button>
    <i class="fa fa-times-circle"></i>
  </modal-header>
  <modal-body>
    <div class="col-md-12 col-sm-12 col-xs-12 modal-title">¿Est&aacute;s seguro que deseas rechazar la solicitud de interprograma?</div>

    <form class="form-horizontal" [formGroup]="rechazarInterprograma">

        <div class="row">
          <div [ngClass]="{'has-error': getControlErrorsRechazar('comentarios')}">
            <div class=" col-md-12 padding-xs-vr">
              <div class="row">
                <label for="comentarios" class="col-md-3 control-label text-left">Comentarios:*</label>
              </div>
            </div>
            <div class=" col-md-12 padding-xs-vr">
              <div class="row">
                <div class="col-md-12">
                <textarea id="comentarios" name="comentarios" #comentarios formControlName="comentarios"
                          ngControl="comentarios" class="form-control" rows="5">
                </textarea>
                <span id="helpBlock1" class="help-block" *ngIf="(getControlErrorsRechazar('comentarios'))">
                    {{errorMessage(getControlRechazar('comentarios'))}}
                </span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
  </modal-body>
  <modal-footer>
    <!--<button type="button" class="btn btn-default" (click)="cerrarModal()"><i class="fa fa-close"></i> Cerrar</button>-->
    <!--<button type="button" class="btn btn-success" (click)="enviarFormulario()"><i class="fa floppy-o"></i> Guardar</button>-->
    <div class="col-md-6 col-sm-6 col-xs-6">
      <button (click)='cerrarModalRechazar()' type="button" class="btn btn-danger" data-dismiss="modal">No</button>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6">
      <button (click)='denegarSolicitud()' type="button" class="btn btn-success">Sí</button>
    </div>
  </modal-footer>
</modal>
