<div class="panel">
  <div class="tab-content tab-content-bordered">
    <div class="tab-pane fade active in" id="tab1">
      <div class="row">
        <div class="col-md-12">
          <alert
            *ngFor="let alerta of alertas;
                            let i = index"
            [type]="alerta.type"
            dismissible="true"
            (close)="cerrarAlerta(i)">
            {{ alerta?.msg }}
          </alert>
        </div>
        <div class="col-md-12">
          <h6 class="form-heading text-muted text-semibold text-sm">Documentaci&oacute;n</h6>
        </div>
        <div class="col-md-12 text-right">
          
          <div class="col-md-6" *ngIf="registros.length == contadorValidos&&registros.length !== 0&&hasRol('DOCENCIA')">
           <button type="button" class="btn btn-success"
                  title="Validar Información" (click)="validarSolicitud()"> Validar Solicitud
          </button>
          </div>

          <div class="col-md-6">
          <button *ngIf="hasRol('DOCENCIA')" type="button" class="btn btn-default form-group-margin"
                  title="Enviar comentarios de documento(s) rechazado(s)"
                  [disabled] ="!habilitarBoton"
                  (click)="modalEnviarComentarios()">
            <span class="glyphicons glyphicons-message-plus"></span>
            <i class="fa fa-envelope-o"></i> Enviar comentarios
          </button>
          </div>

        </div>
        <div class="col-md-12" *ngIf="registros.length !== 0">
          <div class="panel" style="width:100%;height: 400px; overflow-y: scroll; margin: auto">
            <div class="panel-body">
              <div class="col-md-3 text-center" *ngFor="let registro of registros">
                <div class="thumbnail" >
                  <i class="fa fa-file-text-o fa-5x"></i>
                  <h5 class="">{{registro?.tipoDocumento.valor}}</h5>
                  <hr>
                  <div *ngIf="registro?.valido === true || registro?.valido === false">
                    <button class="btn  btn-warning fa fa-download "
                            (click)="descargarArchivo(registro?.archivo?.id)"></button>
                    <p>{{registro?.valido ? 'Validado' : 'Rechazado'}}</p>
                  </div>
                  <div class="btn-tumbnail btn-group"
                       *ngIf="registro?.valido !== true && registro?.valido !== false">
                    <button class="btn  btn-default fa fa-eye right"
                            (click)="verArchivo(registro?.archivo?.id)">
                    </button>
                    <button class="btn  btn-danger fa fa-times" title="Rechazar documento" *ngIf="hasRol('DOCENCIA')"
                            (click)="validarCampo(registro,false)">
                    </button>
                    <button class="btn  btn-success fa fa-check" title="Validar documento" *ngIf="hasRol('DOCENCIA')"
                            (click)="validarCampo(registro,true)">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modalComentariosDocumentos  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarModal()" aria-hidden="true">×</button>
    <h4 class="modal-title">Env&iacute;o de comentarios</h4>
  </modal-header>
  <modal-body>
    <!-- SECCION-DETALLE -->
    <form [formGroup]="formularioCorreo">
      <div class="row">
        <div class="col-md-12">
          <div class="row form-group text-left">
            <label class="col-sm-12 control-label">Comentarios:</label>
            <div class="col-sm-12">
              <div [ngClass]="{ 'has-error': getControlErrors('comentarios')}">
                <textarea id="comentarios" class="form-control" rows="10" ngControl="comentarios" formControlName="comentarios"></textarea>
                     <span id="helpBlockProgramaDocente" class="help-block" *ngIf="(getControlErrors('comentarios'))">
                        {{errorMessage(getControl('comentarios'))}}
                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </modal-body>
  <modal-footer>
    <div class="text-right">
      <button (click)="cerrarModal()" class="btn btn-default" type="button" data-dismiss="modal">
        <span class="glyphicon glyphicon-remove"></span>
        Cancelar
      </button>
      <button (click)="enviarComentarios()"  type="submit" class="btn btn-success">
        <i class="fa fa-envelope-o"></i>
        Enviar
      </button>
    </div>
  </modal-footer>
</modal>

