<div class="page-header">
  <div class="row">
    <div class="col-md-12 text-center text-left-sm">
      <h1>Administraci&oacute;n de cat&aacute;logos</h1>
      <p><small>Cat&aacute;logo de modalidad de calificaciones</small></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel colourable">
      <div class="panel-body">
        <div class="col-md-12" *ngIf="erroresConsultas.length !== 0" >
          <alert
            *ngFor="let alerta of erroresConsultas"
            [type]="alerta.tipo"
            dismissible="true">
            {{ alerta?.mensaje }}
          </alert>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="col-md-10">
              <div class="text-right">
                <button class="btn btn-labeled btn-success form-group-margin" *ngIf="ocultarOpcionActivar()" (click)="cambiarEstatusModalidadCalificacion('activar')">
                  <span class="btn-label icon fa fa-plus-circle" ></span>Activar
                </button>
                <button class="btn btn-labeled btn-danger form-group-margin" *ngIf="ocultarOpcionDesactivar()" (click)="cambiarEstatusModalidadCalificacion('desactivar')">
                  <span class="btn-label icon fa fa-minus-circle"></span>Desactivar
                </button>
                <button (click)="constructorAgreEdiCalif('editar')" *ngIf="registroSeleccionado" class="btn btn-labeled btn-warning form-group-margin">
                  <span class="btn-label icon fa fa-pencil-square-o"></span>Editar
                </button>
                <button class="btn btn-labeled btn-default form-group-margin" *ngIf="registroSeleccionado" (click)="constructorDetalleCalif()">
                  <span class="btn-label icon fa fa-eye"></span>Detalle
                </button>
                <button (click)="constructorAgreEdiCalif('agregar')" class="btn btn-labeled btn-success form-group-margin">
                  <span class="btn-label icon fa fa-plus "></span>Agregar
                </button>
                <div class="btn-group form-group-margin" dropdown>
                  <button class="btn btn-conacyt dropdown-toggle" type="button" data-toggle="dropdown">
                 <span class="btn-label icon fa fa-download"></span> Exportar </button>
                  <button type="button" class="btn btn-conacyt dropdown-toggle" dropdownToggle>
                    <i class="fa fa-caret-down"></i>
                  </button>                  
                  <ul class="dropdown-menu">
                    <li role="menuitem"><a class="dropdown-item" (click)="exportar('Excel')" >Exportar a Excel</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem" ><a class="dropdown-item" (click)="exportar('PDF')" >Exportar a PDF</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-2 form-group-margin">
              <div class="row">
                <div class="col-md-12 pull-right text-right">
                  <div class="row">
                    <input type="text"
                           #filtro
                           class="form-control pull-right" id="exampleInputPassword1"
                           placeholder="Buscar..."
                           (keyup.enter)="filtroChanged(filtro.value)"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="table-default">
              <div role="grid" class="dataTables_wrapper form-inline">
                <div class="table-header clearfix">
                  <div class="table-caption">Lista de modalidad de calificaciones</div>

                  <div class="DT-lf-right">
                    <div class="DT-per-page">
                      <div class="dataTables_length" id="jq-datatables-example_length">
                        <label>Registros por página:
                          <select name="jq-datatables-example_length"
                                  #limiteControl
                                  aria-controls="jq-datatables-example"
                                  class="form-control input-sm"
                                  (change) = "setLimite(limiteControl.value)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="table-responsive">
                  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer" id="jq-datatables-example" aria-describedby="jq-datatables-example_info">
                    <thead>
                    <tr role="row">
                      <th
                        *ngFor="let columna of columnas"
                        [ngClass]="{
                                                    'sorting_desc': columna.sort === 'desc',
                                                    'sorting_asc': columna.sort === 'asc',
                                                    'sorting': columna.sort !== false
                                                }"
                        (click)="sortChanged(columna)"
                      >
                        {{columna.titulo}}
                      </th>
                    </tr>
                    </thead>
                    <tbody  *ngIf = "registros.length === 0">
                    <tr class="gradeA odd">
                      <th class="text-center" colspan="4">
                        No hay Registros
                      </th>
                    </tr>
                    </tbody>
                    <tbody *ngIf = "registros.length !== 0">
                    <tr
                      *ngFor="let registro of registros"
                      class="gradeA odd"
                      [ngClass]="{
                                                        'seleccionado': rowSeleccionado(registro)
                                                    }"
                      (click) = "rowSeleccion(registro)"
                    >
                      <td class="text-left">{{registro?.descripcion}}</td>
                      <td class="text-left">{{registro?.promocion?.getClavePromocion()}}</td>
                      <td class="text-left">{{obtenerFecha(registro?.ultimaActualizacion)}}</td>
                      <td class="text-left">{{registro.estatus.valor}}</td>

                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-footer clearfix">
                  <div class="DT-pagination" *ngIf="isSetPaginacion()">
                    <div class="dataTables_paginate paging_simple_numbers">
                      <pagination
                        class="pagination"
                        [totalItems] = "paginacion.registrosTotales"
                        [itemsPerPage] = "limite"
                        [maxSize] = "maxSizePags"
                        [rotate]="false"
                        [(ngModel)] = "paginaActual"
                        (pageChanged) = "cambiarPagina($event)"
                        previousText = "Anterior"
                        nextText = "Siguiente"
                      >
                      </pagination>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modalAgreActu  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarModalAgreEdiCalif()">×</button>
    <h4 class="modal-title">{{edicionFormulario ? 'Editar modalidad de calificaciones' : 'Agregar modalidad de calificaciones'}}</h4>
  </modal-header>
  <modal-body>
    <form role="form" (ngSubmit)="enviarFormulario()" [formGroup]="formularioModalidadCalificacion">
      <div class="row">

        <div class="col-md-12">
          <h6 class="form-heading text-muted text-semibold text-sm">MODALIDAD DE CALIFICACI&Oacute;N</h6>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div [ngClass]="{'has-error': getControlErrors('descripcion')}">
              <div class=" col-md-6 padding-xs-vr">
                <div class="row">
                  <label class="col-md-6 control-label" for="descripcion">Descripci&oacute;n: *</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Descripci&oacute;n"
                           ngControl="descripcion" maxlength="250" id="descripcion" #descripcion formControlName="descripcion">
                    <span id="helpBlock1" class="help-block" *ngIf="(getControlErrors('descripcion'))">
                                            {{errorMessage(getControl('descripcion'))}}
                                        </span>
                  </div>
                </div>
              </div>
            </div>

            <div [ngClass]="{'has-error': getControlErrors('idEstatus')}">
              <div class=" col-md-6 padding-xs-vr">
                <div class="row">
                  <label class="col-md-6 control-label" for="idEstatus">Estatus: *</label>
                  <div class="col-md-6">
                    <select id="idEstatus" name="idEstatus"
                            ngControl="idEstatus" class="form-control" #idEstatus formControlName="idEstatus">
                      <option value="" selected>Selecciona...</option>
                      <option
                              *ngFor="let catalogoItem of opcionesCatalogoEstatus"
                              value="{{catalogoItem.id}}"
                      >
                        {{catalogoItem.text}}
                      </option>
                    </select>
                    <span id="helpBlock1" class="help-block" *ngIf="(getControlErrors('idEstatus'))">
                                            {{errorMessage(getControl('idEstatus'))}}
                                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div [ngClass]="{'has-error': getControlErrors('calificacionMinima')}">
              <div class=" col-md-6 padding-xs-vr">
                <div class="row">
                  <label class="col-md-6 control-label" for="calificacionMinima">
                    Calificaci&oacute;n m&iacute;nima: *</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Calificaci&oacute;n m&iacute;nima"
                           ngControl="calificacionMinima" id="calificacionMinima" #calificacionMinima formControlName="calificacionMinima">
                    <span id="helpBlock1" class="help-block" *ngIf="(getControlErrors('calificacionMinima'))">
                                            {{errorMessage(getControl('calificacionMinima'))}}
                                        </span>
                  </div>
                </div>
              </div>
            </div>
            <div [ngClass]="{'has-error': getControlErrors('calificacionMaxima')}">
              <div class=" col-md-6 padding-xs-vr">
                <div class="row">
                  <label class="col-md-6 control-label" for="calificacionMaxima">Calificaci&oacute;n m&aacute;xima: *</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Calificaci&oacute;n m&aacute;xima"
                           ngControl="calificacionMaxima" id="calificacionMaxima" #calificacionMaxima formControlName="calificacionMaxima">
                    <span id="helpBlock1" class="help-block" *ngIf="(getControlErrors('calificacionMaxima'))">
                                             {{errorMessage(getControl('calificacionMaxima'))}}
                                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div [ngClass]="{'has-error': getControlErrors('calificacionMinimaAprobatoria')}">
              <div class=" col-md-6 padding-xs-vr">
                <div class="row">
                  <label class="col-md-6 control-label" for="calificacionMinimaAprobatoria">
                    Calificaci&oacute;n m&iacute;nima aprobatoria: *</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" name="calificacionMinimaAprobatoria"
                           id="calificacionMinimaAprobatoria" placeholder="Calificaci&oacute;n m&iacute;nima aprobatoria"
                           ngControl="calificacionMinimaAprobatoria"
                           #calificacionMinimaAprobatoria formControlName="calificacionMinimaAprobatoria">
                    <span id="helpBlock1" class="help-block" *ngIf="(getControlErrors('calificacionMinimaAprobatoria'))">
                                            {{errorMessage(getControl('calificacionMinimaAprobatoria'))}}
                                        </span>
                  </div>
                </div>
              </div>
            </div>
            <div [ngClass]="{'has-error': getControlErrors('promedioMinimo')}">
              <div class=" col-md-6 padding-xs-vr">
                <div class="row">
                  <label class="col-md-6 control-label" for="promedioMinimo">
                    Promedio m&iacute;nimo: *</label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" name="promedioMinimo"
                           id="promedioMinimo" placeholder="Promedio m&iacute;nimo"
                           ngControl="promedioMinimo" #promedioMinimo formControlName="promedioMinimo">
                    <span id="helpBlock1" class="help-block" *ngIf="(getControlErrors('promedioMinimo'))">
                                            {{errorMessage(getControl('promedioMinimo'))}}
                                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div [ngClass]="{'has-error': getControlErrors('idPromocion')}">
              <div class="col-md-6 padding-xs-vr">
                <div class="row">
                  <label class="col-md-6 control-label" for="idPromocion">
                    Promoci&oacute;n: * </label>
                  <div class="col-md-6">
                    <select id="idPromocion" name="idPromocion"
                            ngControl="idPromocion" class="form-control" #idPromocion formControlName="idPromocion">
                      <option value="" selected>Selecciona...</option>
                      <option
                              *ngFor="let catalogoPromocionItem of opcionesCatalogoPromocion"
                              value="{{catalogoPromocionItem.id}}"
                      >
                        {{catalogoPromocionItem.text}}
                      </option>
                    </select>
                    <span id="helpBlock1" class="help-block" *ngIf="(getControlErrors('idPromocion'))">
                                            {{errorMessage(getControl('idPromocion'))}}
                                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="cerrarModalAgreEdiCalif()"><i class="fa fa-close"></i>&nbsp;&nbsp;Cancelar
    </button>
    <button type="button" class="btn btn-success" (click)="enviarFormulario()">
      <i class="fa fa-floppy-o"></i>{{edicionFormulario ? '&nbsp;&nbsp;Actualizar' : '&nbsp;&nbsp;Guardar'}}
    </button>
  </modal-footer>
</modal>
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #modalDetalle  >
  <modal-header>
    <button type="button" class="close" (click)="cerrarModalDetalleCalif()" aria-hidden="true">×</button>
    <h4 class="modal-title">Detalle modalidad calificaci&oacute;n</h4>
  </modal-header>
  <modal-body>
    <div class="col-md-12" *ngIf="erroresConsultasAE.lenght !== 0" >
      <alert
              *ngFor="let alerta of erroresConsultasAE"
              [type]="alerta.tipo"
              dismissible="true">
        {{ alerta?.mensaje }}
      </alert>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 form-group-margin">
              <div class="row">
                <dl class="form-horizontal">
                  <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Descripci&oacute;n: </dt>
                  <dd class="col-md-6">{{entidadModalidadCalificacion?.descripcion}}</dd>
                </dl>
              </div>
            </div>

            <div class="col-md-6 form-group-margin">
              <div class="row">
                <dl class="form-horizontal">
                  <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Estatus: </dt>
                  <dd class="col-md-6">{{entidadModalidadCalificacion?.estatus?.valor}}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 form-group-margin">
              <div class="row">
                <dl class="form-horizontal">
                  <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Calificación m&iacute;nima: </dt>
                  <dd class="col-md-6">{{entidadModalidadCalificacion?.calificacionMinima}}</dd>
                </dl>
              </div>
            </div>

            <div class="col-md-6 form-group-margin">
              <div class="row">
                <dl class="form-horizontal">
                  <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Calificación m&aacute;xima: </dt>
                  <dd class="col-md-6">{{entidadModalidadCalificacion?.calificacionMaxima}}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 form-group-margin">
              <div class="row">
                <dl class="form-horizontal">
                  <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Calificación m&iacute;nima aprobatoria: </dt>
                  <dd class="col-md-6">{{entidadModalidadCalificacion?.calificacionMinimaAprobatoria}}</dd>
                </dl>
              </div>
            </div>

            <div class="col-md-6 form-group-margin">
              <div class="row">
                <dl class="form-horizontal">
                  <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Promedio m&iacute;nimo: </dt>
                  <dd class="col-md-6">{{entidadModalidadCalificacion?.promedioMinimo}}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 form-group-margin">
              <div class="row">
                <dl class="form-horizontal">
                  <dt class="col-md-6 text-right-lg text-right-md text-left-sm text-left-xs">Promoci&oacute;n: </dt>
                  <dd class="col-md-6">{{entidadModalidadCalificacion?.promocion?.getClavePromocion()}}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="cerrarModalDetalleCalif()"><i class="fa fa-close"></i>&nbsp;&nbsp;Cerrar
    </button>
  </modal-footer>
</modal>

